### Check if Column RateCodeID just contains Numbers

In [1]:
import glob
import numpy as np
import pandas as pd

In [2]:
#Path for NYC_Yellow_Cab 2009 Parquet
path_2009="F:/1_Bachelorarbeit/1_Daten/1_Yellow_Cab_Trips_2009-June_2016/2_Parquet_Files/2009/*.parquet"
#Path for NYC_Yellow_Cab 2010 Parquet
path_2010="F:/1_Bachelorarbeit/1_Daten/1_Yellow_Cab_Trips_2009-June_2016/2_Parquet_Files/2010/*.parquet"
#Path for NYC_Yellow_Cab 2011 Parquet
path_2011="F:/1_Bachelorarbeit/1_Daten/1_Yellow_Cab_Trips_2009-June_2016/2_Parquet_Files/2011/*.parquet"
#Path for NYC_Yellow_Cab 2012 Parquet
path_2012="F:/1_Bachelorarbeit/1_Daten/1_Yellow_Cab_Trips_2009-June_2016/2_Parquet_Files/2012/*.parquet"
#Path for NYC_Yellow_Cab 2013 Parquet
path_2013="F:/1_Bachelorarbeit/1_Daten/1_Yellow_Cab_Trips_2009-June_2016/2_Parquet_Files/2013/*.parquet"
#Path for NYC_Yellow_Cab 2014 Parquet
path_2014="F:/1_Bachelorarbeit/1_Daten/1_Yellow_Cab_Trips_2009-June_2016/2_Parquet_Files/2014/*.parquet"
#Path for NYC_Yellow_Cab 2015 Parquet
path_2015="F:/1_Bachelorarbeit/1_Daten/1_Yellow_Cab_Trips_2009-June_2016/2_Parquet_Files/2015/*.parquet"
#Path for NYC_Yellow_Cab 2016 Parquet
path_2016="F:/1_Bachelorarbeit/1_Daten/1_Yellow_Cab_Trips_2009-June_2016/2_Parquet_Files/2016/*.parquet"

### NYC Yellow Cab 2009

In [3]:
#List of Dataframes from all month in 2009
dfs_2009=[]
for csv_file in glob.glob(path_2009):
    df=pd.read_parquet(csv_file,engine="fastparquet")
    dfs_2009.append(df["RateCodeID"].unique())

### January

In [4]:
dfs_2009[0]

array([None], dtype=object)

### February

In [5]:
dfs_2009[1]

array([None], dtype=object)

### March

In [6]:
dfs_2009[2]

array([None], dtype=object)

### April

In [7]:
dfs_2009[3]

array([None], dtype=object)

### May

In [8]:
dfs_2009[4]

array([None], dtype=object)

### June

In [9]:
dfs_2009[5]

array([None], dtype=object)

### July

In [10]:
dfs_2009[6]

array([None], dtype=object)

### August

In [11]:
dfs_2009[7]

array([None], dtype=object)

### September

In [12]:
dfs_2009[8]

array([None], dtype=object)

### October

In [13]:
dfs_2009[9]

array([None], dtype=object)

### November

In [14]:
dfs_2009[10]

array([None], dtype=object)

### December

In [15]:
dfs_2009[11]

array([None], dtype=object)

### Observation: Every Month has the value None

### NYC Yellow Cab 2010

In [16]:
#List of Dataframes from all month in 2010
dfs_2010=[]
for csv_file in glob.glob(path_2010):
    df=pd.read_parquet(csv_file,engine="fastparquet")
    dfs_2010.append(df["RateCodeID"].unique())

### January

In [17]:
dfs_2010[0]

array(['1'], dtype=object)

### February

In [18]:
dfs_2010[1]

array(['1', '4', '3', '2', '5', '33', '35', '24', '16', '128', '34', '6',
       '8', '37', '0', '64'], dtype=object)

### March

In [19]:
dfs_2010[2]

array(['1', '2', '3', '4', '5', '24', '35', '16', '6', '34', '128', '33',
       '8', '64', '0'], dtype=object)

### April

In [20]:
dfs_2010[3]

array(['1', '2', '3', '0', '4', '5', '6', '128', '7', '16', '24', '33',
       '34', '35', '210', '8', '9', '28', '11'], dtype=object)

### May

In [21]:
dfs_2010[4]

array(['1', '2', '3', '0', '4', '5', '6', '28', '33', '210', '16', '128'],
      dtype=object)

### June

In [22]:
dfs_2010[5]

array(['2', '1', '4', '0', '5', '3', '6', '210', '128', '33', '7', '65'],
      dtype=object)

### July

In [23]:
dfs_2010[6]

array(['1', '2', '5', '3', '4', '0', '6', '128', '34', '7', '210', '33',
       '35'], dtype=object)

### August

In [24]:
dfs_2010[7]

array(['1', '2', '5', '4', '3', '0', '6', '128', '7', '210', '9', '33',
       '221', '77', '8', '193', '34'], dtype=object)

### September

In [25]:
dfs_2010[8]

array(['1', '2', '3', '4', '5', '0', '6', '210', '8', '33', '34', '132',
       '15', '128'], dtype=object)

### October

In [26]:
dfs_2010[9]

array(['1', '4', '2', '3', '5', '0', '6', '210', '8', '65', '33', '16',
       '15', '128', '9'], dtype=object)

### November

In [27]:
dfs_2010[10]

array(['1', '2', '5', '3', '4', '6', '0', '210', '8', '10', '128', '33'],
      dtype=object)

### December

In [28]:
dfs_2010[11]

array(['1', '2', '5', '3', '4', '6', '0', '40', '208', '210', '8', '219',
       '36', '129', '28', '96', '7', '160'], dtype=object)

### NYC Yellow Cab 2011

In [29]:
#List of Dataframes from all month in 2011
dfs_2011=[]
for csv_file in glob.glob(path_2011):
    df=pd.read_parquet(csv_file,engine="fastparquet")
    dfs_2011.append(df["RateCodeID"].unique())

### January

In [30]:
dfs_2011[0]

array(['1', '4', '2', '5', '3', '0', '6', '49', '52', '210', '8', '11'],
      dtype=object)

### February

In [31]:
dfs_2011[1]

array(['1', '4', '2', '3', '5', '6', '0', '210', '8', '7'], dtype=object)

### March

In [32]:
dfs_2011[2]

array(['1', '2', '4', '5', '3', '0', '6', '210', '7', '219', '8'],
      dtype=object)

### April

In [33]:
dfs_2011[3]

array(['1', '4', '2', '5', '3', '6', '0', '17', '210', '7', '9', '160'],
      dtype=object)

### May

In [34]:
dfs_2011[4]

array(['1', '2', '0', '5', '4', '3', '6', '210', '17', '7', '72'],
      dtype=object)

### June

In [35]:
dfs_2011[5]

array(['1', '2', '0', '4', '5', '3', '6', '210', '7', '252', '16'],
      dtype=object)

### July

In [36]:
dfs_2011[6]

array(['1', '2', '3', '5', '4', '0', '6', '210', '9', '15', '128', '28',
       '7'], dtype=object)

### August

In [37]:
dfs_2011[7]

array(['1', '2', '4', '5', '3', '0', '6', '8', '210', '7', '9', '16',
       '128', '250'], dtype=object)

### September

In [38]:
dfs_2011[8]

array(['1', '2', '3', '4', '5', '0', '6', '210', '160', '9', '128', '28',
       '65', '8'], dtype=object)

### October

In [39]:
dfs_2011[9]

array(['1', '2', '3', '4', '5', '0', '6', '210', '128', '8', '7', '208'],
      dtype=object)

### November

In [40]:
dfs_2011[10]

array(['1', '4', '0', '2', '5', '3', '210', '6', '13', '8', '128'],
      dtype=object)

### December

In [41]:
dfs_2011[11]

array(['1', '3', '2', '4', '5', '6', '0', '210', '68', '8', '246'],
      dtype=object)

### NYC Yellow Cab 2012

In [42]:
#List of Dataframes from all month in 2012
dfs_2012=[]
for csv_file in glob.glob(path_2012):
    df=pd.read_parquet(csv_file,engine="fastparquet")
    dfs_2012.append(df["RateCodeID"].unique())

### January

In [43]:
dfs_2012[0]

array(['1', '2', '3', '5', '4', '0', '6', '221', '7', '210', '8'],
      dtype=object)

### February

In [44]:
dfs_2012[1]

array(['1', '2', '4', '5', '3', '6', '0', '210', '33', '65', '17'],
      dtype=object)

### March

In [45]:
dfs_2012[2]

array(['1', '2', '4', '5', '3', '6', '0', '210', '65', '9', '7', '8',
       '28'], dtype=object)

### April

In [46]:
dfs_2012[3]

array(['1', '2', '4', '3', '5', '6', '0', '210', '9', '28', '15', '7',
       '8', '79', '128'], dtype=object)

### May

In [47]:
dfs_2012[4]

array(['1', '2', '4', '5', '3', '6', '0', '210', '8', '9', '28', '132'],
      dtype=object)

### June

In [48]:
dfs_2012[5]

array(['1', '4', '3', '2', '208', '5', '0', '6', '210', '69', '9', '15',
       '11', '7'], dtype=object)

### July

In [49]:
dfs_2012[6]

array(['1', '5', '4', '2', '3', '6', '0', '210', '65', '7', '47', '28',
       '9'], dtype=object)

### August

In [50]:
dfs_2012[7]

array(['1', '5', '3', '2', '4', '0', '6', '208', '210', '8', '221'],
      dtype=object)

### September

In [51]:
dfs_2012[8]

array(['1', '2', '4', '3', '5', '8', '6', '0', '210', '208', '7', '9',
       '42'], dtype=object)

### October

In [52]:
dfs_2012[9]

array(['1', '2', '5', '3', '4', '0', '6', '210', '7', '208', '8'],
      dtype=object)

### November

In [53]:
dfs_2012[10]

array(['1', '5', '2', '4', '3', '0', '6', '7', '210', '8', '9'],
      dtype=object)

### December

In [54]:
dfs_2012[11]

array(['1', '2', '4', '3', '5', '0', '6', '210', '8', '7', '208'],
      dtype=object)

### NYC Yellow Cab 2013

In [55]:
#List of Dataframes from all month in 2013
dfs_2013=[]
for csv_file in glob.glob(path_2013):
    df=pd.read_parquet(csv_file,engine="fastparquet")
    dfs_2013.append(df["RateCodeID"].unique())

### January

In [56]:
dfs_2013[0]

array(['1', '2', '5', '4', '3', '6', '8', '0', '210', '28', '7', '9',
       '65', '128'], dtype=object)

### February

In [57]:
dfs_2013[1]

array(['1', '2', '3', '5', '4', '6', '0', '210', '7', '28', '79', '221'],
      dtype=object)

### March

In [58]:
dfs_2013[2]

array(['1', '2', '5', '3', '4', '6', '0', '210', '9', '7', '8', '17'],
      dtype=object)

### April

In [59]:
dfs_2013[3]

array(['1', '2', '5', '4', '3', '6', '0', '9', '65', '210', '8', '208',
       '206', '77', '7'], dtype=object)

### May

In [60]:
dfs_2013[4]

array(['1', '2', '3', '5', '4', '6', '0', '210', '7', '65'], dtype=object)

### June

In [61]:
dfs_2013[5]

array(['1', '2', '3', '4', '5', '6', '0', '8', '210', '77', '9'],
      dtype=object)

### July

In [62]:
dfs_2013[6]

array(['1', '5', '3', '2', '4', '8', '0', '6', '210', '7', '9'],
      dtype=object)

### August

In [63]:
dfs_2013[7]

array(['1', '2', '5', '3', '4', '6', '0', '9', '7', '8', '200', '239',
       '16', '210'], dtype=object)

### September

In [64]:
dfs_2013[8]

array(['1', '2', '3', '5', '4', '6', '0', '8', '9', '210', '7', '28'],
      dtype=object)

### October

In [65]:
dfs_2013[9]

array(['1', '2', '5', '3', '0', '4', '6', '210', '28', '7', '9', '8'],
      dtype=object)

### November

In [66]:
dfs_2013[10]

array(['1', '2', '5', '4', '3', '0', '8', '6', '7', '210', '10', '9'],
      dtype=object)

### December

In [67]:
dfs_2013[11]

array(['1', '2', '5', '3', '4', '0', '8', '6', '13', '210', '7', '9',
       '65', '15'], dtype=object)

### NYC Yellow Cab 2014

In [68]:
#List of Dataframes from all month in 2014
dfs_2014=[]
for csv_file in glob.glob(path_2014):
    df=pd.read_parquet(csv_file,engine="fastparquet")
    dfs_2014.append(df["RateCodeID"].unique())

### January

In [69]:
dfs_2014[0]

array(['1', '2', '5', '3', '4', '0', '6', '210', '8', '9', '28', '7'],
      dtype=object)

### February

In [70]:
dfs_2014[1]

array(['1', '2', '5', '4', '3', '8', '0', '6', '210', '65', '7', '67'],
      dtype=object)

### March

In [71]:
dfs_2014[2]

array(['1', '2', '5', '3', '4', '0', '6', '210', '8', '7', '65'],
      dtype=object)

### April

In [72]:
dfs_2014[3]

array(['1', '2', '5', '3', '4', '6', '0', '7', '210', '221', '9', '8',
       '208', '65', '16'], dtype=object)

### May

In [73]:
dfs_2014[4]

array(['1', '2', '3', '5', '4', '0', '6', '210', '7', '9', '28', '65',
       '8'], dtype=object)

### June

In [74]:
dfs_2014[5]

array(['1', '5', '2', '3', '4', '0', '6', '8', '7', '210', '9', '65',
       '221', '156', '28', '77'], dtype=object)

### July

In [75]:
dfs_2014[6]

array(['1', '2', '3', '4', '5', '0', '6', '9', '210', '7', '8'],
      dtype=object)

### August

In [76]:
dfs_2014[7]

array(['1', '2', '6', '3', '5', '4', '0', '8', '210', '221', '7', '208',
       '9'], dtype=object)

### September

In [77]:
dfs_2014[8]

array(['1', '2', '5', '3', '4', '0', '8', '6', '7', '210'], dtype=object)

### October

In [78]:
dfs_2014[9]

array(['1', '2', '4', '3', '5', '0', '6', '8', '210', '15', '9', '7'],
      dtype=object)

### November

In [79]:
dfs_2014[10]

array(['1', '2', '3', '5', '0', '4', '6', '210', '54', '8', '9'],
      dtype=object)

### December

In [80]:
dfs_2014[11]

array(['1', '2', '5', '3', '4', '0', '6', '210', '9'], dtype=object)

### NYC Yellow Cab 2015

In [81]:
#List of Dataframes from all month in 2015
dfs_2015=[]
for csv_file in glob.glob(path_2015):
    df=pd.read_parquet(csv_file,engine="fastparquet")
    dfs_2015.append(df["RateCodeID"].unique())

### January

In [82]:
dfs_2015[0]

array(['1', '2', '5', '3', '4', '99', '6'], dtype=object)

### February

In [83]:
dfs_2015[1]

array(['1', '3', '2', '5', '4', '99', '6'], dtype=object)

### March

In [84]:
dfs_2015[2]

array(['1', '3', '2', '5', '4', '99', '6'], dtype=object)

### April

In [85]:
dfs_2015[3]

array(['1', '2', '5', '3', '4', '99', '6'], dtype=object)

### May

In [86]:
dfs_2015[4]

array(['1', '5', '2', '3', '4', '99', '6'], dtype=object)

### June

In [87]:
dfs_2015[5]

array(['1', '2', '5', '3', '4', '99', '6'], dtype=object)

### July

In [88]:
dfs_2015[6]

array(['1', '2', '99', '5', '4', '3', '6'], dtype=object)

### August

In [89]:
dfs_2015[7]

array(['1', '2', '5', '4', '3', '6', '99'], dtype=object)

### September

In [90]:
dfs_2015[8]

array(['1', '5', '2', '4', '3', '99', '6'], dtype=object)

### October

In [91]:
dfs_2015[9]

array(['1', '5', '2', '3', '4', '99', '6'], dtype=object)

### November

In [92]:
dfs_2015[10]

array(['1', '5', '2', '4', '6', '3', '99'], dtype=object)

### December

In [93]:
dfs_2015[11]

array(['1', '5', '2', '3', '4', '99', '6'], dtype=object)

### NYC Yellow Cab 2016

In [94]:
#List of Dataframes from all month in 2016
dfs_2016=[]
for csv_file in glob.glob(path_2016):
    df=pd.read_parquet(csv_file,engine="fastparquet")
    dfs_2016.append(df["RateCodeID"].unique())

### January

In [95]:
dfs_2016[0]

array(['1', '3', '5', '2', '4', '6', '99'], dtype=object)

### February

In [96]:
dfs_2016[1]

array(['1', '5', '2', '4', '3', '99', '6'], dtype=object)

### March

In [97]:
dfs_2016[2]

array(['1', '3', '2', '5', '4', '6', '99'], dtype=object)

### April

In [98]:
dfs_2016[3]

array(['1', '2', '5', '99', '3', '4', '6'], dtype=object)

### May

In [99]:
dfs_2016[4]

array(['1', '2', '5', '4', '3', '99', '6'], dtype=object)

### June

In [100]:
dfs_2016[5]

array(['1', '3', '2', '5', '4', '6', '99'], dtype=object)