In [1]:
import sqlite3
import pandas as pd
import numpy as np
import fastparquet
import os

### Connect to Database and create Cursor

In [2]:
path="F:/1_Bachelorarbeit/1_Daten/1_Yellow_Cab_Trips_2009-June_2016/4_Sqlite/NYC_Yellow_Cab_Tripdata"
# Create Database or if Name is there open Database
connection = sqlite3.connect(path)
# Create Cursor for SQL-Commands
cursor=connection.cursor()

### Sample 2.000.000 Random Entries of all Tripdata Tables

In [3]:
dtypes={"Pickup_DateTime":np.datetime64,"Dropoff_DateTime":np.datetime64,"Passenger_Count":np.uint8,"Trip_Distance":np.float16,"Pickup_Lon":np.float32,"Pickup_Lat":np.float32,"RateCodeID":np.uint8,"Dropoff_Lon":np.float32,"Dropoff_Lat":np.float32,"Fare_Amt":np.float16}
# Give me 250000 random sample from table tripdata_2009
sql = "SELECT * FROM tripdata_2009 ORDER BY RANDOM() LIMIT 250000;"  
df_origin = pd.read_sql_query(sql, connection, index_col="Trip_ID")
# Replace all None Values of RateCodeID with Zero -> Because 0 is for none RateCodeID
df_origin["RateCodeID"].fillna(value=0, inplace=True)

In [4]:
df_origin

,Pickup_DateTime,Dropoff_DateTime,Passenger_Count,Trip_Distance,Pickup_Lon,Pickup_Lat,RateCodeID,Dropoff_Lon,Dropoff_Lat,Fare_Amt
Trip_ID,,,,,,,,,,
85109488,2009-06-04 22:02:56,2009-06-04 22:11:56,2,2.100000,-73.983757,40.743824,0,-73.962143,40.765209,8.101562
73883174,2009-06-06 22:02:00,2009-06-06 22:30:00,1,4.080000,-73.976387,40.763893,0,-74.003380,40.734158,16.093750
79653306,2009-06-19 17:01:00,2009-06-19 17:09:00,3,0.800000,-73.973450,40.763992,0,-73.982124,40.756065,5.699219
3104711,2009-01-18 19:47:30,2009-01-18 19:53:35,2,2.200000,-73.956551,40.771511,0,-73.976868,40.743328,7.398438
92744297,2009-07-13 09:27:47,2009-07-13 09:39:49,1,1.300000,-73.987587,40.770531,0,-73.982986,40.758152,7.699219
118312871,2009-09-15 18:12:00,2009-09-15 18:29:00,1,2.590000,-73.985863,40.741444,0,-73.966316,40.773003,10.898438
63334721,2009-05-02 20:56:00,2009-05-02 21:06:00,1,2.370000,-73.986504,40.778904,0,-73.964706,40.806805,8.898438
23049963,2009-02-14 05:55:48,2009-02-14 06:02:13,1,2.800000,-73.994293,40.690109,0,-74.007790,40.714977,9.000000
89326657,2009-07-24 22:29:05,2009-07-24 22:49:13,1,4.400000,-73.966644,40.803864,0,-73.991371,40.752869,14.500000
33839358,2009-03-18 09:21:59,2009-03-18 09:39:36,1,3.000000,-73.959396,40.777058,0,-73.984779,40.742172,11.703125
62216230,2009-05-12 19:06:29,2009-05-12 19:12:06,4,1.000000,-74.000648,40.727222,0,-73.985931,40.729492,5.300781
130212204,2009-10-06 08:35:34,2009-10-06 08:57:34,1,3.900000,-73.972038,40.753948,0,-74.000870,40.714592,14.101562
102594406,2009-08-04 15:23:00,2009-08-04 15:36:00,1,1.630000,0.000000,0.000000,0,0.000000,0.000000,8.101562
50253602,2009-04-09 01:00:00,2009-04-09 01:08:00,1,3.070000,-73.977264,40.751785,0,-73.970482,40.786671,8.898438
42998585,2009-04-23 08:04:00,2009-04-23 08:30:00,1,6.210000,-73.984161,40.758366,0,-74.007034,40.706963,18.093750
142059087,2009-11-26 01:33:00,2009-11-26 01:40:00,3,2.170000,-73.937485,40.804089,0,-73.951912,40.777992,6.898438
68527508,2009-05-04 20:44:00,2009-05-04 20:54:00,5,1.300000,-73.983765,40.758972,0,-73.966202,40.753780,6.898438
27563807,2009-03-10 20:38:46,2009-03-10 20:47:22,2,1.500000,-73.980995,40.742241,0,-73.964638,40.755890,7.398438
10800777,2009-01-09 12:33:00,2009-01-09 12:56:00,5,8.190000,-73.954681,40.789333,0,-74.007004,40.705563,22.093750
133992873,2009-10-11 09:48:46,2009-10-11 09:50:27,1,0.500000,-73.961243,40.811996,0,-73.965897,40.805683,3.699219
85008596,2009-06-04 09:44:00,2009-06-04 10:05:00,3,3.800000,-73.965767,40.805607,0,-73.974297,40.763573,14.500000
132443079,2009-10-31 21:38:00,2009-10-31 21:53:00,2,2.850000,-73.983429,40.765358,0,-73.949158,40.773018,10.500000
76760660,2009-06-21 17:29:58,2009-06-21 17:57:04,3,5.400000,-74.016808,40.704796,0,-73.985710,40.759083,17.703125
82630266,2009-06-29 11:00:15,2009-06-29 11:04:12,1,0.700000,-73.952141,40.789848,0,-73.944443,40.787937,4.500000
145028491,2009-11-04 13:09:00,2009-11-04 13:15:00,5,0.460000,-73.994507,40.750851,0,-73.990250,40.756371,4.500000
46884410,2009-04-30 00:01:03,2009-04-30 00:11:37,2,1.800000,-73.983543,40.757313,0,-73.980659,40.741745,7.699219
66156799,2009-05-15 17:26:00,2009-05-15 17:45:00,5,1.850000,-73.978165,40.753494,0,-73.958725,40.767117,10.898438
89920497,2009-07-17 12:06:00,2009-07-17 12:27:00,2,3.030000,-73.982048,40.769791,0,-73.982094,40.742939,12.898438
36944150,2009-03-16 00:51:00,2009-03-16 01:06:00,5,3.030000,-73.991531,40.726967,0,-74.003555,40.748413,10.898438
89832879,2009-07-31 06:28:02,2009-07-31 06:37:20,1,2.200000,0.000000,0.000000,0,0.000000,0.000000,8.101562
...,...,...,...,...,...,...,...,...,...,...
122703555,2009-09-19 17:51:00,2009-09-19 18:49:00,2,29.250000,-73.800354,40.674999,0,-73.737679,40.671089,64.500000
61419213,2009-05-02 21:26:48,2009-05-02 21:30:21,1,1.400000,-73.994904,40.760517,0,-73.981201,40.779163,5.300781
22942101,2009-02-19 20:51:00,2009-02-19 21:11:33,1,7.100000,-73.974678,40.757874,0,-73.999008,40.694000,19.406250
84842619,2009-06-26 16:14:00,2009-06-26 16:51:00,5,9.530000,-73.863647,40.769684,0,-73.952812,40.768127,25.703125
153288198,2009-11-20 08:18:00,2009-11-20 08:24:00,1,0.740000,-73.955605,40.768242,0,-73.965988,40.774746,4.898438
112515475,2009-09-19 18:16:22,2009-09-19 18:24:32,1,0.900000,-73.984833,40.768749,0,-73.982475,40.758034,6.101562
129960027,2009-10-20 23:59:00,2009-10-21 00:18:00,1,4.730000,-73.982399,40.757339,0,-73.958954,40.731197,14.500000
22529717,2009-02-13 21:36:00,2009-02-13 21:56:00,2,3.230000,-74.001862,40.724689,0,-73.972588,40.749821,12.101562
152980976,2009-11-07 21:00:00,2009-11-07 21:10:00,1,1.600000,-73.986931,40.745964,0,-74.006203,40.739922,7.300781
163952112,2009-12-11 06:51:56,2009-12-11 07:02:25,4,3.300000,-73.978180,40.753265,0,-74.010170,40.720123,10.101562
169215983,2009-12-04 01:42:59,2009-12-04 01:57:17,1,4.500000,-73.989845,40.733448,0,-73.947937,40.784561,12.898438
117490398,2009-09-04 20:49:00,2009-09-04 21:03:00,1,3.560000,-74.004494,40.736778,0,-73.955338,40.772110,11.296875
168915618,2009-12-08 13:09:00,2009-12-08 13:16:00,5,0.630000,-73.957283,40.774784,0,-73.959274,40.768944,5.300781
114263244,2009-09-22 00:54:07,2009-09-22 01:17:34,1,15.000000,-73.870781,40.773743,0,-73.729675,40.633774,33.687500
20663217,2009-02-28 00:26:00,2009-02-28 00:40:00,2,1.090000,-73.988747,40.731243,0,-73.988617,40.720215,8.101562
150979799,2009-11-02 20:08:15,2009-11-02 20:14:15,1,2.100000,-73.980339,40.775414,0,-73.964401,40.802261,6.898438
153861571,2009-11-10 20:07:00,2009-11-10 20:20:00,2,1.760000,-73.977371,40.757938,0,-73.984657,40.737423,8.500000
53197115,2009-04-26 22:37:48,2009-04-26 22:55:32,1,3.300000,-73.953827,40.775238,0,-73.991173,40.750568,12.101562
101225578,2009-08-08 12:56:09,2009-08-08 13:06:26,2,2.800000,-73.939171,40.805096,0,-73.956467,40.771523,8.898438
10282195,2009-01-30 21:39:50,2009-01-30 21:48:50,1,1.100000,-73.998764,40.729786,0,-73.999634,40.742485,6.101562
130188413,2009-10-10 12:53:00,2009-10-10 13:03:00,1,1.720000,-73.965279,40.759602,0,-73.981232,40.771019,7.300781
49461550,2009-04-15 01:52:17,2009-04-15 02:35:13,2,20.200001,-73.872696,40.774300,0,-73.969460,40.796207,47.312500
93459079,2009-07-24 03:05:43,2009-07-24 03:12:55,1,1.200000,-73.991707,40.722404,0,-74.006027,40.720219,6.101562
76775726,2009-06-03 15:52:00,2009-06-03 16:21:00,1,6.450000,-73.969040,40.757767,0,-73.885475,40.773186,20.500000
61884034,2009-05-13 19:11:23,2009-05-13 19:27:38,1,2.500000,-73.996490,40.726845,0,-74.008026,40.746666,10.500000
24359221,2009-02-19 00:25:42,2009-02-19 00:28:38,1,0.500000,-73.994949,40.743866,0,-73.995323,40.749554,3.699219
55802294,2009-04-23 07:25:20,2009-04-23 07:32:33,1,2.400000,-73.983910,40.775589,0,-73.962273,40.805378,7.699219
88784167,2009-07-26 00:54:44,2009-07-26 01:09:53,2,5.300000,-73.960579,40.761345,0,-74.003212,40.724083,14.898438
5403830,2009-01-12 23:43:06,2009-01-12 23:52:20,1,1.500000,-73.985687,40.735371,0,-73.990921,40.750233,7.800781
64753060,2009-05-03 01:27:50,2009-05-03 02:04:50,2,9.700000,-73.976234,40.785961,0,-73.960587,40.673130,27.296875

In [5]:
# Give me 250000 random sample from table tripdata_2010
sql = "SELECT * FROM tripdata_2010 ORDER BY RANDOM() LIMIT 250000;"  
df_append = pd.read_sql_query(sql, connection,index_col="Trip_ID")
df_origin=df_origin.append(df_append,ignore_index=True)
df_origin

,Pickup_DateTime,Dropoff_DateTime,Passenger_Count,Trip_Distance,Pickup_Lon,Pickup_Lat,RateCodeID,Dropoff_Lon,Dropoff_Lat,Fare_Amt
0,2009-06-04 22:02:56,2009-06-04 22:11:56,2,2.10,-73.983757,40.743824,0,-73.962143,40.765209,8.101562
1,2009-06-06 22:02:00,2009-06-06 22:30:00,1,4.08,-73.976387,40.763893,0,-74.003380,40.734158,16.093750
2,2009-06-19 17:01:00,2009-06-19 17:09:00,3,0.80,-73.973450,40.763992,0,-73.982124,40.756065,5.699219
3,2009-01-18 19:47:30,2009-01-18 19:53:35,2,2.20,-73.956551,40.771511,0,-73.976868,40.743328,7.398438
4,2009-07-13 09:27:47,2009-07-13 09:39:49,1,1.30,-73.987587,40.770531,0,-73.982986,40.758152,7.699219
5,2009-09-15 18:12:00,2009-09-15 18:29:00,1,2.59,-73.985863,40.741444,0,-73.966316,40.773003,10.898438
6,2009-05-02 20:56:00,2009-05-02 21:06:00,1,2.37,-73.986504,40.778904,0,-73.964706,40.806805,8.898438
7,2009-02-14 05:55:48,2009-02-14 06:02:13,1,2.80,-73.994293,40.690109,0,-74.007790,40.714977,9.000000
8,2009-07-24 22:29:05,2009-07-24 22:49:13,1,4.40,-73.966644,40.803864,0,-73.991371,40.752869,14.500000
9,2009-03-18 09:21:59,2009-03-18 09:39:36,1,3.00,-73.959396,40.777058,0,-73.984779,40.742172,11.703125
10,2009-05-12 19:06:29,2009-05-12 19:12:06,4,1.00,-74.000648,40.727222,0,-73.985931,40.729492,5.300781
11,2009-10-06 08:35:34,2009-10-06 08:57:34,1,3.90,-73.972038,40.753948,0,-74.000870,40.714592,14.101562
12,2009-08-04 15:23:00,2009-08-04 15:36:00,1,1.63,0.000000,0.000000,0,0.000000,0.000000,8.101562
13,2009-04-09 01:00:00,2009-04-09 01:08:00,1,3.07,-73.977264,40.751785,0,-73.970482,40.786671,8.898438
14,2009-04-23 08:04:00,2009-04-23 08:30:00,1,6.21,-73.984161,40.758366,0,-74.007034,40.706963,18.093750
15,2009-11-26 01:33:00,2009-11-26 01:40:00,3,2.17,-73.937485,40.804089,0,-73.951912,40.777992,6.898438
16,2009-05-04 20:44:00,2009-05-04 20:54:00,5,1.30,-73.983765,40.758972,0,-73.966202,40.753780,6.898438
17,2009-03-10 20:38:46,2009-03-10 20:47:22,2,1.50,-73.980995,40.742241,0,-73.964638,40.755890,7.398438
18,2009-01-09 12:33:00,2009-01-09 12:56:00,5,8.19,-73.954681,40.789333,0,-74.007004,40.705563,22.093750
19,2009-10-11 09:48:46,2009-10-11 09:50:27,1,0.50,-73.961243,40.811996,0,-73.965897,40.805683,3.699219
20,2009-06-04 09:44:00,2009-06-04 10:05:00,3,3.80,-73.965767,40.805607,0,-73.974297,40.763573,14.500000
21,2009-10-31 21:38:00,2009-10-31 21:53:00,2,2.85,-73.983429,40.765358,0,-73.949158,40.773018,10.500000
22,2009-06-21 17:29:58,2009-06-21 17:57:04,3,5.40,-74.016808,40.704796,0,-73.985710,40.759083,17.703125
23,2009-06-29 11:00:15,2009-06-29 11:04:12,1,0.70,-73.952141,40.789848,0,-73.944443,40.787937,4.500000
24,2009-11-04 13:09:00,2009-11-04 13:15:00,5,0.46,-73.994507,40.750851,0,-73.990250,40.756371,4.500000
25,2009-04-30 00:01:03,2009-04-30 00:11:37,2,1.80,-73.983543,40.757313,0,-73.980659,40.741745,7.699219
26,2009-05-15 17:26:00,2009-05-15 17:45:00,5,1.85,-73.978165,40.753494,0,-73.958725,40.767117,10.898438
27,2009-07-17 12:06:00,2009-07-17 12:27:00,2,3.03,-73.982048,40.769791,0,-73.982094,40.742939,12.898438
28,2009-03-16 00:51:00,2009-03-16 01:06:00,5,3.03,-73.991531,40.726967,0,-74.003555,40.748413,10.898438
29,2009-07-31 06:28:02,2009-07-31 06:37:20,1,2.20,0.000000,0.000000,0,0.000000,0.000000,8.101562
...,...,...,...,...,...,...,...,...,...,...
499970,2010-04-14 09:55:00,2010-04-14 10:07:00,1,3.17,-73.981186,40.733021,1,-73.956085,40.764450,10.898438
499971,2010-04-18 14:01:08,2010-04-18 14:08:53,2,1.90,-73.988792,40.693600,1,-73.967392,40.701679,7.300781
499972,2010-10-28 14:55:00,2010-10-28 14:58:00,1,0.13,0.000000,0.000000,1,0.000000,0.000000,3.300781
499973,2010-05-10 11:22:28,2010-05-10 11:22:40,1,0.00,-73.985985,40.761307,1,-73.985985,40.761307,2.500000
499974,2010-03-27 13:08:00,2010-03-27 13:19:00,1,1.57,-73.997864,40.725842,1,-74.006439,40.739330,7.300781
499975,2010-11-29 17:08:00,2010-11-29 17:20:00,3,2.22,-73.954681,40.787727,1,-73.984169,40.778633,8.500000
499976,2010-09-19 12:18:51,2010-09-19 12:35:03,2,2.60,-73.960564,40.765549,1,-73.990593,40.748863,10.898438
499977,2010-03-02 13:38:02,2010-03-02 13:44:57,1,0.80,-73.994423,40.732307,1,-74.008347,40.734154,5.300781
499978,2010-02-13 21:23:14,2010-02-13 21:44:52,1,5.20,-73.964188,40.807949,1,-73.972008,40.750244,16.500000
499979,2010-04-25 21:22:00,2010-04-25 21:28:57,1,1.50,-73.964890,40.755836,1,-73.983505,40.749817,6.500000
499980,2010-03-30 19:18:00,2010-03-30 19:25:00,4,1.01,-73.973801,40.750118,1,-73.966141,40.761868,5.699219
499981,2010-09-21 20:52:45,2010-09-21 21:06:18,2,2.40,-73.956108,40.771259,1,-73.985687,40.759212,9.296875
499982,2010-07-17 02:33:00,2010-07-17 02:45:00,1,2.59,-73.986511,40.719517,1,-73.957146,40.718632,9.703125
499983,2010-09-25 18:37:00,2010-09-25 18:41:00,2,0.93,-73.963654,40.765316,1,-73.969017,40.754181,4.500000
499984,2010-08-27 09:25:00,2010-08-27 09:31:00,1,0.95,-73.979279,40.754726,1,-73.969131,40.760803,5.300781
499985,2010-06-27 13:57:48,2010-06-27 13:59:43,1,0.20,-73.977699,40.789040,1,-73.975189,40.790085,3.300781
499986,2010-11-18 08:04:25,2010-11-18 08:12:40,1,1.20,-73.956070,40.767540,1,-73.971054,40.761551,6.500000
499987,2010-10-30 20:43:04,2010-10-30 20:59:42,1,6.10,-74.004272,40.707764,1,-73.981171,40.763561,16.500000
499988,2010-04-27 12:20:00,2010-04-27 12:27:00,1,1.01,-73.983849,40.768242,1,-73.980583,40.780128,5.699219
499989,2010-05-03 14:22:24,2010-05-03 14:26:17,1,0.70,-74.001900,40.740440,1,-73.994896,40.750084,4.500000
499990,2010-11-27 23:55:06,2010-11-28 00:05:28,1,1.90,-73.988228,40.720089,1,-73.979111,40.740585,7.699219
499991,2010-02-06 15:23:50,2010-02-06 15:25:51,1,0.50,-73.992172,40.742790,1,-73.983810,40.739056,3.300781
499992,2010-11-11 20:09:59,2010-11-11 20:23:48,1,4.10,-74.012482,40.713791,1,-73.989037,40.758671,12.500000
499993,2010-08-21 02:52:00,2010-08-21 02:56:00,2,1.18,-74.009300,40.726135,1,-74.001930,40.740425,4.898438
499994,2010-12-02 20:43:00,2010-12-02 20:52:00,2,2.55,-73.973434,40.743820,1,-73.949921,40.776028,8.101562
499995,2010-05-07 19:44:28,2010-05-07 19:52:40,1,0.70,-73.981262,40.759136,1,-73.990120,40.756840,5.699219
499996,2010-07-19 18:32:55,2010-07-19 18:41:08,1,2.00,-73.988235,40.759117,1,-73.978355,40.784927,7.699219
499997,2010-09-14 07:36:00,2010-09-14 08:00:00,1,4.45,-73.995560,40.744083,1,-73.985779,40.778000,15.703125
499998,2010-08-23 19:17:38,2010-08-23 19:27:07,1,2.30,-73.972198,40.753704,1,-73.950203,40.778046,8.500000
499999,2010-07-16 13:24:00,2010-07-16 13:34:00,1,0.88,-73.981789,40.771069,1,-73.983551,40.760609,6.500000

In [6]:
# Give me 250000 random sample from table tripdata_2011
sql = "SELECT * FROM tripdata_2011 ORDER BY RANDOM() LIMIT 250000;"  
df_append = pd.read_sql_query(sql, connection,index_col="Trip_ID")
df_origin=df_origin.append(df_append,ignore_index=True)
df_origin

,Pickup_DateTime,Dropoff_DateTime,Passenger_Count,Trip_Distance,Pickup_Lon,Pickup_Lat,RateCodeID,Dropoff_Lon,Dropoff_Lat,Fare_Amt
0,2009-06-04 22:02:56,2009-06-04 22:11:56,2,2.10,-73.983757,40.743824,0,-73.962143,40.765209,8.101562
1,2009-06-06 22:02:00,2009-06-06 22:30:00,1,4.08,-73.976387,40.763893,0,-74.003380,40.734158,16.093750
2,2009-06-19 17:01:00,2009-06-19 17:09:00,3,0.80,-73.973450,40.763992,0,-73.982124,40.756065,5.699219
3,2009-01-18 19:47:30,2009-01-18 19:53:35,2,2.20,-73.956551,40.771511,0,-73.976868,40.743328,7.398438
4,2009-07-13 09:27:47,2009-07-13 09:39:49,1,1.30,-73.987587,40.770531,0,-73.982986,40.758152,7.699219
5,2009-09-15 18:12:00,2009-09-15 18:29:00,1,2.59,-73.985863,40.741444,0,-73.966316,40.773003,10.898438
6,2009-05-02 20:56:00,2009-05-02 21:06:00,1,2.37,-73.986504,40.778904,0,-73.964706,40.806805,8.898438
7,2009-02-14 05:55:48,2009-02-14 06:02:13,1,2.80,-73.994293,40.690109,0,-74.007790,40.714977,9.000000
8,2009-07-24 22:29:05,2009-07-24 22:49:13,1,4.40,-73.966644,40.803864,0,-73.991371,40.752869,14.500000
9,2009-03-18 09:21:59,2009-03-18 09:39:36,1,3.00,-73.959396,40.777058,0,-73.984779,40.742172,11.703125
10,2009-05-12 19:06:29,2009-05-12 19:12:06,4,1.00,-74.000648,40.727222,0,-73.985931,40.729492,5.300781
11,2009-10-06 08:35:34,2009-10-06 08:57:34,1,3.90,-73.972038,40.753948,0,-74.000870,40.714592,14.101562
12,2009-08-04 15:23:00,2009-08-04 15:36:00,1,1.63,0.000000,0.000000,0,0.000000,0.000000,8.101562
13,2009-04-09 01:00:00,2009-04-09 01:08:00,1,3.07,-73.977264,40.751785,0,-73.970482,40.786671,8.898438
14,2009-04-23 08:04:00,2009-04-23 08:30:00,1,6.21,-73.984161,40.758366,0,-74.007034,40.706963,18.093750
15,2009-11-26 01:33:00,2009-11-26 01:40:00,3,2.17,-73.937485,40.804089,0,-73.951912,40.777992,6.898438
16,2009-05-04 20:44:00,2009-05-04 20:54:00,5,1.30,-73.983765,40.758972,0,-73.966202,40.753780,6.898438
17,2009-03-10 20:38:46,2009-03-10 20:47:22,2,1.50,-73.980995,40.742241,0,-73.964638,40.755890,7.398438
18,2009-01-09 12:33:00,2009-01-09 12:56:00,5,8.19,-73.954681,40.789333,0,-74.007004,40.705563,22.093750
19,2009-10-11 09:48:46,2009-10-11 09:50:27,1,0.50,-73.961243,40.811996,0,-73.965897,40.805683,3.699219
20,2009-06-04 09:44:00,2009-06-04 10:05:00,3,3.80,-73.965767,40.805607,0,-73.974297,40.763573,14.500000
21,2009-10-31 21:38:00,2009-10-31 21:53:00,2,2.85,-73.983429,40.765358,0,-73.949158,40.773018,10.500000
22,2009-06-21 17:29:58,2009-06-21 17:57:04,3,5.40,-74.016808,40.704796,0,-73.985710,40.759083,17.703125
23,2009-06-29 11:00:15,2009-06-29 11:04:12,1,0.70,-73.952141,40.789848,0,-73.944443,40.787937,4.500000
24,2009-11-04 13:09:00,2009-11-04 13:15:00,5,0.46,-73.994507,40.750851,0,-73.990250,40.756371,4.500000
25,2009-04-30 00:01:03,2009-04-30 00:11:37,2,1.80,-73.983543,40.757313,0,-73.980659,40.741745,7.699219
26,2009-05-15 17:26:00,2009-05-15 17:45:00,5,1.85,-73.978165,40.753494,0,-73.958725,40.767117,10.898438
27,2009-07-17 12:06:00,2009-07-17 12:27:00,2,3.03,-73.982048,40.769791,0,-73.982094,40.742939,12.898438
28,2009-03-16 00:51:00,2009-03-16 01:06:00,5,3.03,-73.991531,40.726967,0,-74.003555,40.748413,10.898438
29,2009-07-31 06:28:02,2009-07-31 06:37:20,1,2.20,0.000000,0.000000,0,0.000000,0.000000,8.101562
...,...,...,...,...,...,...,...,...,...,...
749970,2011-07-03 18:15:27,2011-07-03 18:28:39,3,2.70,-73.961975,40.779430,1,-73.978683,40.746006,9.703125
749971,2011-10-29 07:59:00,2011-10-29 08:16:00,3,4.54,-73.948586,40.778103,1,-74.001633,40.756474,13.703125
749972,2011-06-04 11:30:00,2011-06-04 11:40:00,1,2.24,-73.974663,40.777977,1,-73.947968,40.783318,8.500000
749973,2011-02-01 17:00:00,2011-02-01 17:29:00,1,11.83,-73.981750,40.749470,1,-73.864517,40.770496,28.093750
749974,2011-08-29 08:36:00,2011-08-29 09:11:00,1,10.13,0.000000,0.000000,1,0.000000,0.000000,26.906250
749975,2011-02-15 08:29:35,2011-02-15 08:33:16,1,0.40,-73.976059,40.740433,1,-73.984085,40.743492,4.101562
749976,2011-05-06 08:57:30,2011-05-06 09:11:29,2,7.10,-73.953369,40.776878,1,-74.011093,40.701904,17.703125
749977,2011-02-16 21:24:00,2011-02-16 21:41:00,1,8.40,-73.870277,40.773647,1,-73.957809,40.697754,20.500000
749978,2011-03-25 18:11:00,2011-03-25 18:20:00,1,1.96,-73.977089,40.787769,1,-73.987061,40.762619,7.300781
749979,2011-08-08 14:10:00,2011-08-08 14:20:02,1,1.50,-74.000687,40.761665,1,-73.984940,40.748138,7.300781
749980,2011-03-16 23:03:59,2011-03-16 23:10:49,1,1.40,-73.976936,40.764877,1,-73.957405,40.766640,6.101562
749981,2011-10-18 03:01:00,2011-10-18 03:19:00,1,4.84,-74.003006,40.721939,1,-73.930115,40.687965,14.101562
749982,2011-12-27 20:26:00,2011-12-27 20:30:00,1,0.98,-73.982910,40.771954,1,-73.979187,40.762611,4.898438
749983,2011-01-20 16:08:10,2011-01-20 16:15:22,1,0.80,-73.992584,40.714314,1,-73.997192,40.722031,5.699219
749984,2011-10-23 03:45:54,2011-10-23 03:51:35,1,0.80,-74.000168,40.730461,1,-73.992668,40.724426,4.898438
749985,2011-09-14 22:19:47,2011-09-14 22:26:06,2,1.40,-74.000801,40.731804,1,-73.992081,40.749348,5.699219
749986,2011-07-28 10:01:50,2011-07-28 10:43:41,2,5.00,-73.986504,40.755901,1,-74.016510,40.704865,21.703125
749987,2011-05-25 12:18:32,2011-05-25 12:56:29,1,19.50,-73.990089,40.746647,2,-73.786560,40.639179,45.000000
749988,2011-08-05 18:12:28,2011-08-05 18:40:31,1,2.90,-73.988297,40.773102,1,-74.003815,40.742031,15.703125
749989,2011-02-02 16:23:59,2011-02-02 16:49:40,1,3.40,-73.987900,40.737946,1,-73.952454,40.768608,14.898438
749990,2011-03-25 08:41:22,2011-03-25 08:55:36,0,2.50,-73.980057,40.781029,1,-73.978966,40.754841,10.101562
749991,2011-10-22 18:37:00,2011-10-22 18:42:00,2,0.92,-73.972366,40.765110,1,-73.966034,40.772976,4.898438
749992,2011-07-21 15:12:05,2011-07-21 15:15:12,2,0.70,-73.965042,40.792015,1,-73.953148,40.788483,4.101562
749993,2011-08-11 18:53:00,2011-08-11 19:04:00,3,1.44,-73.987091,40.732975,1,-73.991875,40.742760,7.300781
749994,2011-08-26 02:01:00,2011-08-26 02:17:00,1,4.40,-73.998581,40.738117,1,-73.958961,40.716644,13.296875
749995,2011-06-20 13:47:52,2011-06-20 13:58:10,4,1.30,-73.973305,40.751995,1,-73.984558,40.742977,7.300781
749996,2011-10-14 00:26:00,2011-10-14 01:12:00,1,6.88,-73.992340,40.737953,1,-73.903236,40.746288,26.500000
749997,2011-06-25 10:11:35,2011-06-25 10:14:53,1,0.70,-73.981903,40.780052,1,-73.983475,40.770241,4.101562
749998,2011-08-05 01:05:00,2011-08-05 01:24:00,6,8.46,-74.006744,40.725765,1,-73.890488,40.752262,21.703125
749999,2011-10-05 19:18:00,2011-10-05 19:26:00,1,1.16,-73.979156,40.765572,1,-73.971443,40.755856,6.101562

In [7]:
# Give me 250000 random sample from table tripdata_2012
sql = "SELECT * FROM tripdata_2012 ORDER BY RANDOM() LIMIT 250000;"  
df_append = pd.read_sql_query(sql, connection,index_col="Trip_ID")
df_origin=df_origin.append(df_append,ignore_index=True)
df_origin

,Pickup_DateTime,Dropoff_DateTime,Passenger_Count,Trip_Distance,Pickup_Lon,Pickup_Lat,RateCodeID,Dropoff_Lon,Dropoff_Lat,Fare_Amt
0,2009-06-04 22:02:56,2009-06-04 22:11:56,2,2.10,-73.983757,40.743824,0,-73.962143,40.765209,8.101562
1,2009-06-06 22:02:00,2009-06-06 22:30:00,1,4.08,-73.976387,40.763893,0,-74.003380,40.734158,16.093750
2,2009-06-19 17:01:00,2009-06-19 17:09:00,3,0.80,-73.973450,40.763992,0,-73.982124,40.756065,5.699219
3,2009-01-18 19:47:30,2009-01-18 19:53:35,2,2.20,-73.956551,40.771511,0,-73.976868,40.743328,7.398438
4,2009-07-13 09:27:47,2009-07-13 09:39:49,1,1.30,-73.987587,40.770531,0,-73.982986,40.758152,7.699219
5,2009-09-15 18:12:00,2009-09-15 18:29:00,1,2.59,-73.985863,40.741444,0,-73.966316,40.773003,10.898438
6,2009-05-02 20:56:00,2009-05-02 21:06:00,1,2.37,-73.986504,40.778904,0,-73.964706,40.806805,8.898438
7,2009-02-14 05:55:48,2009-02-14 06:02:13,1,2.80,-73.994293,40.690109,0,-74.007790,40.714977,9.000000
8,2009-07-24 22:29:05,2009-07-24 22:49:13,1,4.40,-73.966644,40.803864,0,-73.991371,40.752869,14.500000
9,2009-03-18 09:21:59,2009-03-18 09:39:36,1,3.00,-73.959396,40.777058,0,-73.984779,40.742172,11.703125
10,2009-05-12 19:06:29,2009-05-12 19:12:06,4,1.00,-74.000648,40.727222,0,-73.985931,40.729492,5.300781
11,2009-10-06 08:35:34,2009-10-06 08:57:34,1,3.90,-73.972038,40.753948,0,-74.000870,40.714592,14.101562
12,2009-08-04 15:23:00,2009-08-04 15:36:00,1,1.63,0.000000,0.000000,0,0.000000,0.000000,8.101562
13,2009-04-09 01:00:00,2009-04-09 01:08:00,1,3.07,-73.977264,40.751785,0,-73.970482,40.786671,8.898438
14,2009-04-23 08:04:00,2009-04-23 08:30:00,1,6.21,-73.984161,40.758366,0,-74.007034,40.706963,18.093750
15,2009-11-26 01:33:00,2009-11-26 01:40:00,3,2.17,-73.937485,40.804089,0,-73.951912,40.777992,6.898438
16,2009-05-04 20:44:00,2009-05-04 20:54:00,5,1.30,-73.983765,40.758972,0,-73.966202,40.753780,6.898438
17,2009-03-10 20:38:46,2009-03-10 20:47:22,2,1.50,-73.980995,40.742241,0,-73.964638,40.755890,7.398438
18,2009-01-09 12:33:00,2009-01-09 12:56:00,5,8.19,-73.954681,40.789333,0,-74.007004,40.705563,22.093750
19,2009-10-11 09:48:46,2009-10-11 09:50:27,1,0.50,-73.961243,40.811996,0,-73.965897,40.805683,3.699219
20,2009-06-04 09:44:00,2009-06-04 10:05:00,3,3.80,-73.965767,40.805607,0,-73.974297,40.763573,14.500000
21,2009-10-31 21:38:00,2009-10-31 21:53:00,2,2.85,-73.983429,40.765358,0,-73.949158,40.773018,10.500000
22,2009-06-21 17:29:58,2009-06-21 17:57:04,3,5.40,-74.016808,40.704796,0,-73.985710,40.759083,17.703125
23,2009-06-29 11:00:15,2009-06-29 11:04:12,1,0.70,-73.952141,40.789848,0,-73.944443,40.787937,4.500000
24,2009-11-04 13:09:00,2009-11-04 13:15:00,5,0.46,-73.994507,40.750851,0,-73.990250,40.756371,4.500000
25,2009-04-30 00:01:03,2009-04-30 00:11:37,2,1.80,-73.983543,40.757313,0,-73.980659,40.741745,7.699219
26,2009-05-15 17:26:00,2009-05-15 17:45:00,5,1.85,-73.978165,40.753494,0,-73.958725,40.767117,10.898438
27,2009-07-17 12:06:00,2009-07-17 12:27:00,2,3.03,-73.982048,40.769791,0,-73.982094,40.742939,12.898438
28,2009-03-16 00:51:00,2009-03-16 01:06:00,5,3.03,-73.991531,40.726967,0,-74.003555,40.748413,10.898438
29,2009-07-31 06:28:02,2009-07-31 06:37:20,1,2.20,0.000000,0.000000,0,0.000000,0.000000,8.101562
...,...,...,...,...,...,...,...,...,...,...
999970,2012-02-12 03:24:00,2012-02-12 03:42:00,1,4.51,-73.985909,40.722740,1,-73.954689,40.775581,13.296875
999971,2012-03-05 18:57:00,2012-03-05 19:17:00,1,3.39,-74.002380,40.745358,1,-73.965904,40.771111,12.101562
999972,2012-09-17 19:11:10,2012-09-17 19:13:28,1,0.10,-73.966026,40.767574,1,-73.965889,40.765903,3.500000
999973,2012-02-20 23:15:00,2012-02-20 23:33:00,1,5.24,-73.991257,40.723362,1,-73.962196,40.656357,15.296875
999974,2012-02-08 19:13:44,2012-02-08 19:35:55,1,3.60,-73.989616,40.737598,1,-73.957100,40.780174,14.101562
999975,2012-09-03 12:54:13,2012-09-03 13:01:32,1,2.50,-74.006973,40.716038,1,-73.989464,40.749733,8.101562
999976,2012-03-18 02:09:00,2012-03-18 02:33:42,1,5.80,-73.970985,40.751785,1,-73.937935,40.697624,17.703125
999977,2012-04-19 11:56:00,2012-04-19 12:20:00,1,2.63,-73.952896,40.772091,1,-73.981285,40.753063,13.296875
999978,2012-07-04 12:46:22,2012-07-04 13:14:12,1,11.70,-73.978188,40.758698,1,-73.898918,40.858860,28.500000
999979,2012-08-19 09:28:18,2012-08-19 09:52:53,1,12.80,-73.862885,40.769089,1,-73.999687,40.759121,29.703125
999980,2012-07-24 15:42:00,2012-07-24 16:13:00,1,2.23,-74.007660,40.740696,1,-73.984085,40.754913,14.898438
999981,2012-04-13 08:39:00,2012-04-13 08:42:00,1,0.41,-73.965645,40.795609,1,-73.970833,40.794312,3.699219
999982,2012-06-01 23:55:00,2012-06-02 00:12:00,6,4.57,-73.922241,40.745338,1,-73.982132,40.774490,13.703125
999983,2012-12-01 08:36:36,2012-12-01 08:42:10,2,1.30,-73.968521,40.786350,1,-73.961327,40.779362,6.500000
999984,2012-01-21 14:30:36,2012-01-21 14:40:14,1,1.50,-73.979195,40.728184,1,-73.999077,40.727962,7.300781
999985,2012-03-23 11:50:00,2012-03-23 11:55:00,1,0.55,-73.961449,40.768711,1,-73.967606,40.768513,4.500000
999986,2012-03-29 16:13:00,2012-03-29 16:18:00,1,0.82,-73.965569,40.771507,1,-73.972412,40.765266,4.898438
999987,2012-02-25 23:40:36,2012-02-25 23:44:02,1,0.50,-73.993652,40.741467,1,-73.988091,40.739426,4.101562
999988,2012-07-15 23:03:46,2012-07-15 23:11:38,1,2.30,-73.977097,40.750278,1,-73.998550,40.723152,7.699219
999989,2012-02-05 18:18:00,2012-02-05 18:23:00,1,0.74,-74.015892,40.706684,1,-74.013367,40.715691,4.500000
999990,2012-03-25 03:57:20,2012-03-25 04:14:03,3,5.40,-73.989822,40.729473,1,-73.973930,40.791271,15.296875
999991,2012-12-13 12:49:57,2012-12-13 13:23:52,1,17.50,-74.003960,40.722076,2,-73.790771,40.644363,52.000000
999992,2012-07-19 07:42:00,2012-07-19 07:50:00,1,1.96,-73.996445,40.763454,1,-74.002922,40.739922,7.300781
999993,2012-10-06 21:17:00,2012-10-06 21:25:00,4,1.61,-73.963509,40.774536,1,-73.977859,40.765114,7.500000
999994,2012-07-18 17:57:00,2012-07-18 18:13:00,1,4.57,-73.985893,40.719433,1,-73.967079,40.763351,13.703125
999995,2012-08-23 04:04:11,2012-08-23 04:13:50,1,3.70,-73.954201,40.774605,1,-73.925697,40.743752,10.500000
999996,2012-01-13 20:38:00,2012-01-13 20:50:00,1,0.77,-73.870995,40.773777,1,-73.779213,40.786091,18.093750
999997,2012-04-05 12:29:00,2012-04-05 12:38:00,5,0.66,-73.991402,40.738903,1,-74.000336,40.737698,5.699219
999998,2012-05-12 15:10:54,2012-05-12 15:32:49,1,3.00,-73.993385,40.756256,1,-73.994812,40.723618,12.898438
999999,2012-03-02 18:45:43,2012-03-02 18:50:40,1,0.80,-74.006134,40.734547,1,-74.003784,40.742004,4.500000

In [8]:
# Give me 250000 random sample from table tripdata_2013
sql = "SELECT * FROM tripdata_2013 ORDER BY RANDOM() LIMIT 250000;"  
df_append = pd.read_sql_query(sql, connection,index_col="Trip_ID")
df_origin=df_origin.append(df_append,ignore_index=True)
df_origin

,Pickup_DateTime,Dropoff_DateTime,Passenger_Count,Trip_Distance,Pickup_Lon,Pickup_Lat,RateCodeID,Dropoff_Lon,Dropoff_Lat,Fare_Amt
0,2009-06-04 22:02:56,2009-06-04 22:11:56,2,2.100000,-73.983757,40.743824,0,-73.962143,40.765209,8.101562
1,2009-06-06 22:02:00,2009-06-06 22:30:00,1,4.080000,-73.976387,40.763893,0,-74.003380,40.734158,16.093750
2,2009-06-19 17:01:00,2009-06-19 17:09:00,3,0.800000,-73.973450,40.763992,0,-73.982124,40.756065,5.699219
3,2009-01-18 19:47:30,2009-01-18 19:53:35,2,2.200000,-73.956551,40.771511,0,-73.976868,40.743328,7.398438
4,2009-07-13 09:27:47,2009-07-13 09:39:49,1,1.300000,-73.987587,40.770531,0,-73.982986,40.758152,7.699219
5,2009-09-15 18:12:00,2009-09-15 18:29:00,1,2.590000,-73.985863,40.741444,0,-73.966316,40.773003,10.898438
6,2009-05-02 20:56:00,2009-05-02 21:06:00,1,2.370000,-73.986504,40.778904,0,-73.964706,40.806805,8.898438
7,2009-02-14 05:55:48,2009-02-14 06:02:13,1,2.800000,-73.994293,40.690109,0,-74.007790,40.714977,9.000000
8,2009-07-24 22:29:05,2009-07-24 22:49:13,1,4.400000,-73.966644,40.803864,0,-73.991371,40.752869,14.500000
9,2009-03-18 09:21:59,2009-03-18 09:39:36,1,3.000000,-73.959396,40.777058,0,-73.984779,40.742172,11.703125
10,2009-05-12 19:06:29,2009-05-12 19:12:06,4,1.000000,-74.000648,40.727222,0,-73.985931,40.729492,5.300781
11,2009-10-06 08:35:34,2009-10-06 08:57:34,1,3.900000,-73.972038,40.753948,0,-74.000870,40.714592,14.101562
12,2009-08-04 15:23:00,2009-08-04 15:36:00,1,1.630000,0.000000,0.000000,0,0.000000,0.000000,8.101562
13,2009-04-09 01:00:00,2009-04-09 01:08:00,1,3.070000,-73.977264,40.751785,0,-73.970482,40.786671,8.898438
14,2009-04-23 08:04:00,2009-04-23 08:30:00,1,6.210000,-73.984161,40.758366,0,-74.007034,40.706963,18.093750
15,2009-11-26 01:33:00,2009-11-26 01:40:00,3,2.170000,-73.937485,40.804089,0,-73.951912,40.777992,6.898438
16,2009-05-04 20:44:00,2009-05-04 20:54:00,5,1.300000,-73.983765,40.758972,0,-73.966202,40.753780,6.898438
17,2009-03-10 20:38:46,2009-03-10 20:47:22,2,1.500000,-73.980995,40.742241,0,-73.964638,40.755890,7.398438
18,2009-01-09 12:33:00,2009-01-09 12:56:00,5,8.190000,-73.954681,40.789333,0,-74.007004,40.705563,22.093750
19,2009-10-11 09:48:46,2009-10-11 09:50:27,1,0.500000,-73.961243,40.811996,0,-73.965897,40.805683,3.699219
20,2009-06-04 09:44:00,2009-06-04 10:05:00,3,3.800000,-73.965767,40.805607,0,-73.974297,40.763573,14.500000
21,2009-10-31 21:38:00,2009-10-31 21:53:00,2,2.850000,-73.983429,40.765358,0,-73.949158,40.773018,10.500000
22,2009-06-21 17:29:58,2009-06-21 17:57:04,3,5.400000,-74.016808,40.704796,0,-73.985710,40.759083,17.703125
23,2009-06-29 11:00:15,2009-06-29 11:04:12,1,0.700000,-73.952141,40.789848,0,-73.944443,40.787937,4.500000
24,2009-11-04 13:09:00,2009-11-04 13:15:00,5,0.460000,-73.994507,40.750851,0,-73.990250,40.756371,4.500000
25,2009-04-30 00:01:03,2009-04-30 00:11:37,2,1.800000,-73.983543,40.757313,0,-73.980659,40.741745,7.699219
26,2009-05-15 17:26:00,2009-05-15 17:45:00,5,1.850000,-73.978165,40.753494,0,-73.958725,40.767117,10.898438
27,2009-07-17 12:06:00,2009-07-17 12:27:00,2,3.030000,-73.982048,40.769791,0,-73.982094,40.742939,12.898438
28,2009-03-16 00:51:00,2009-03-16 01:06:00,5,3.030000,-73.991531,40.726967,0,-74.003555,40.748413,10.898438
29,2009-07-31 06:28:02,2009-07-31 06:37:20,1,2.200000,0.000000,0.000000,0,0.000000,0.000000,8.101562
...,...,...,...,...,...,...,...,...,...,...
1249970,2013-10-28 09:13:02,2013-10-28 09:23:31,1,0.900000,-73.960808,40.769569,1,-73.969925,40.760220,8.000000
1249971,2013-12-18 14:52:00,2013-12-18 15:24:00,2,10.150000,-73.977409,40.753780,1,-73.861450,40.768116,33.500000
1249972,2013-11-05 10:41:14,2013-11-05 11:24:50,1,17.900000,-73.779610,40.646919,2,-73.985405,40.750786,52.000000
1249973,2013-07-25 10:43:00,2013-07-25 10:59:00,1,2.310000,-73.990807,40.750793,1,-73.995918,40.725132,12.000000
1249974,2013-06-29 19:51:21,2013-06-29 20:00:00,1,1.000000,-73.976463,40.748966,1,-73.989861,40.748760,7.000000
1249975,2013-01-20 04:11:00,2013-01-20 04:27:00,1,6.770000,-73.983459,40.762653,1,-73.943924,40.836926,21.000000
1249976,2013-11-23 20:51:00,2013-11-23 21:17:00,1,2.250000,-74.000511,40.732250,1,-73.979713,40.713840,17.000000
1249977,2013-12-21 23:43:00,2013-12-21 23:50:00,1,1.470000,-73.967575,40.766136,1,-73.980766,40.776588,7.000000
1249978,2013-05-04 13:23:02,2013-05-04 14:08:12,1,11.500000,-73.953743,40.781918,1,-73.976837,40.664665,40.500000
1249979,2013-05-04 12:17:06,2013-05-04 12:26:40,1,3.200000,-73.945763,40.777870,1,-73.920799,40.794403,11.500000
1249980,2013-09-17 23:22:44,2013-09-17 23:46:36,2,5.400000,-73.974091,40.757183,1,-73.884766,40.752052,19.500000
1249981,2013-12-21 07:25:32,2013-12-21 07:27:31,1,0.900000,-73.990662,40.745365,1,-73.983910,40.758125,4.500000
1249982,2013-11-24 05:04:00,2013-11-24 05:26:00,4,7.920000,-74.002579,40.733875,1,-73.901756,40.773083,24.500000
1249983,2013-09-05 19:08:00,2013-09-05 19:25:00,1,3.500000,-74.005348,40.727066,1,-73.991631,40.766319,16.000000
1249984,2013-08-20 14:42:00,2013-08-20 14:58:00,1,2.060000,-74.001770,40.730625,1,-73.981323,40.747078,12.000000
1249985,2013-02-23 19:02:00,2013-02-23 19:06:00,1,0.660000,-73.983826,40.743607,1,-73.980545,40.737961,5.000000
1249986,2013-05-07 17:03:00,2013-05-07 17:09:00,6,1.420000,-73.982117,40.772430,1,-73.963638,40.774181,7.000000
1249987,2013-01-23 10:50:23,2013-01-23 10:53:52,1,0.500000,-73.981926,40.747417,1,-73.986977,40.749924,4.500000
1249988,2013-04-09 15:45:34,2013-04-09 15:55:41,1,2.600000,-73.976700,40.756195,1,-73.968994,40.785244,10.000000
1249989,2013-04-08 00:44:35,2013-04-08 00:47:34,1,0.400000,-73.992043,40.721783,1,-73.997383,40.720764,4.000000
1249990,2013-06-04 02:43:00,2013-06-04 03:02:00,5,6.020000,-73.990738,40.745827,1,-73.943420,40.801163,20.000000
1249991,2013-07-26 22:24:00,2013-07-26 22:30:00,1,1.590000,-73.990044,40.738667,1,-73.982559,40.756264,7.000000
1249992,2013-09-30 10:21:23,2013-09-30 10:30:17,1,1.700000,-73.975426,40.789845,0,-73.979759,40.772964,8.500000
1249993,2013-03-06 23:21:43,2013-03-06 23:27:12,4,1.300000,-73.952103,40.790264,1,-73.937393,40.801853,6.500000
1249994,2013-02-10 02:22:00,2013-02-10 02:34:00,1,4.260000,-74.001923,40.740547,1,-73.957085,40.775185,14.000000
1249995,2013-12-17 10:01:11,2013-12-17 10:08:16,1,0.900000,-73.987083,40.733292,1,-73.978363,40.745655,6.500000
1249996,2013-10-11 09:50:19,2013-10-11 10:03:18,1,2.200000,-73.968414,40.761982,1,-73.944008,40.776081,10.500000
1249997,2013-02-28 02:43:31,2013-02-28 03:27:28,1,16.200001,-73.981415,40.753071,5,-73.712006,40.736530,65.187500
1249998,2013-02-05 09:30:00,2013-02-05 09:40:00,5,0.970000,-73.986221,40.762379,1,-73.973457,40.763653,7.500000
1249999,2013-05-23 02:34:02,2013-05-23 02:43:58,1,2.100000,-74.004173,40.742104,1,-73.993248,40.721878,9.000000

In [9]:
# Give me 250000 random sample from table tripdata_2014
sql = "SELECT * FROM tripdata_2014 ORDER BY RANDOM() LIMIT 250000;"  
df_append = pd.read_sql_query(sql, connection,index_col="Trip_ID")
df_origin=df_origin.append(df_append,ignore_index=True)
df_origin

,Pickup_DateTime,Dropoff_DateTime,Passenger_Count,Trip_Distance,Pickup_Lon,Pickup_Lat,RateCodeID,Dropoff_Lon,Dropoff_Lat,Fare_Amt
0,2009-06-04 22:02:56,2009-06-04 22:11:56,2,2.100000,-73.983757,40.743824,0,-73.962143,40.765209,8.101562
1,2009-06-06 22:02:00,2009-06-06 22:30:00,1,4.080000,-73.976387,40.763893,0,-74.003380,40.734158,16.093750
2,2009-06-19 17:01:00,2009-06-19 17:09:00,3,0.800000,-73.973450,40.763992,0,-73.982124,40.756065,5.699219
3,2009-01-18 19:47:30,2009-01-18 19:53:35,2,2.200000,-73.956551,40.771511,0,-73.976868,40.743328,7.398438
4,2009-07-13 09:27:47,2009-07-13 09:39:49,1,1.300000,-73.987587,40.770531,0,-73.982986,40.758152,7.699219
5,2009-09-15 18:12:00,2009-09-15 18:29:00,1,2.590000,-73.985863,40.741444,0,-73.966316,40.773003,10.898438
6,2009-05-02 20:56:00,2009-05-02 21:06:00,1,2.370000,-73.986504,40.778904,0,-73.964706,40.806805,8.898438
7,2009-02-14 05:55:48,2009-02-14 06:02:13,1,2.800000,-73.994293,40.690109,0,-74.007790,40.714977,9.000000
8,2009-07-24 22:29:05,2009-07-24 22:49:13,1,4.400000,-73.966644,40.803864,0,-73.991371,40.752869,14.500000
9,2009-03-18 09:21:59,2009-03-18 09:39:36,1,3.000000,-73.959396,40.777058,0,-73.984779,40.742172,11.703125
10,2009-05-12 19:06:29,2009-05-12 19:12:06,4,1.000000,-74.000648,40.727222,0,-73.985931,40.729492,5.300781
11,2009-10-06 08:35:34,2009-10-06 08:57:34,1,3.900000,-73.972038,40.753948,0,-74.000870,40.714592,14.101562
12,2009-08-04 15:23:00,2009-08-04 15:36:00,1,1.630000,0.000000,0.000000,0,0.000000,0.000000,8.101562
13,2009-04-09 01:00:00,2009-04-09 01:08:00,1,3.070000,-73.977264,40.751785,0,-73.970482,40.786671,8.898438
14,2009-04-23 08:04:00,2009-04-23 08:30:00,1,6.210000,-73.984161,40.758366,0,-74.007034,40.706963,18.093750
15,2009-11-26 01:33:00,2009-11-26 01:40:00,3,2.170000,-73.937485,40.804089,0,-73.951912,40.777992,6.898438
16,2009-05-04 20:44:00,2009-05-04 20:54:00,5,1.300000,-73.983765,40.758972,0,-73.966202,40.753780,6.898438
17,2009-03-10 20:38:46,2009-03-10 20:47:22,2,1.500000,-73.980995,40.742241,0,-73.964638,40.755890,7.398438
18,2009-01-09 12:33:00,2009-01-09 12:56:00,5,8.190000,-73.954681,40.789333,0,-74.007004,40.705563,22.093750
19,2009-10-11 09:48:46,2009-10-11 09:50:27,1,0.500000,-73.961243,40.811996,0,-73.965897,40.805683,3.699219
20,2009-06-04 09:44:00,2009-06-04 10:05:00,3,3.800000,-73.965767,40.805607,0,-73.974297,40.763573,14.500000
21,2009-10-31 21:38:00,2009-10-31 21:53:00,2,2.850000,-73.983429,40.765358,0,-73.949158,40.773018,10.500000
22,2009-06-21 17:29:58,2009-06-21 17:57:04,3,5.400000,-74.016808,40.704796,0,-73.985710,40.759083,17.703125
23,2009-06-29 11:00:15,2009-06-29 11:04:12,1,0.700000,-73.952141,40.789848,0,-73.944443,40.787937,4.500000
24,2009-11-04 13:09:00,2009-11-04 13:15:00,5,0.460000,-73.994507,40.750851,0,-73.990250,40.756371,4.500000
25,2009-04-30 00:01:03,2009-04-30 00:11:37,2,1.800000,-73.983543,40.757313,0,-73.980659,40.741745,7.699219
26,2009-05-15 17:26:00,2009-05-15 17:45:00,5,1.850000,-73.978165,40.753494,0,-73.958725,40.767117,10.898438
27,2009-07-17 12:06:00,2009-07-17 12:27:00,2,3.030000,-73.982048,40.769791,0,-73.982094,40.742939,12.898438
28,2009-03-16 00:51:00,2009-03-16 01:06:00,5,3.030000,-73.991531,40.726967,0,-74.003555,40.748413,10.898438
29,2009-07-31 06:28:02,2009-07-31 06:37:20,1,2.200000,0.000000,0.000000,0,0.000000,0.000000,8.101562
...,...,...,...,...,...,...,...,...,...,...
1499970,2014-12-18 12:59:00,2014-12-18 13:09:00,1,1.550000,-73.982101,40.774563,1,-73.970856,40.794258,9.000000
1499971,2014-04-22 11:46:00,2014-04-22 12:30:00,5,15.510000,-73.874748,40.774063,1,-74.015167,40.709698,48.500000
1499972,2014-07-04 15:26:00,2014-07-04 15:35:00,2,2.170000,-73.962410,40.778942,1,-73.984810,40.759087,9.500000
1499973,2014-12-20 10:19:09,2014-12-20 10:57:17,1,20.400000,-73.781494,40.644844,2,-73.974037,40.788937,52.000000
1499974,2014-07-15 23:09:48,2014-07-15 23:16:09,1,1.300000,-73.988342,40.759968,1,-73.986267,40.746204,6.500000
1499975,2014-07-14 23:51:00,2014-07-14 23:54:00,2,0.470000,0.000000,0.000000,1,0.000000,0.000000,4.000000
1499976,2014-03-17 17:59:00,2014-03-17 18:04:00,1,1.400000,-73.951118,40.774525,1,-73.938354,40.792042,6.000000
1499977,2014-08-10 18:33:08,2014-08-10 19:06:31,1,19.799999,-73.969223,40.785542,2,-73.787247,40.647518,52.000000
1499978,2014-09-16 19:45:58,2014-09-16 19:53:19,1,1.300000,-73.998047,40.740726,1,-73.987236,40.729023,7.000000
1499979,2014-03-14 00:06:18,2014-03-14 00:11:03,1,0.500000,-73.972359,40.753017,1,-73.967087,40.757626,5.000000
1499980,2014-04-15 13:30:41,2014-04-15 13:47:46,2,1.400000,-73.983887,40.746582,1,-73.987885,40.759972,11.500000
1499981,2014-04-28 19:50:00,2014-04-28 20:08:00,2,4.100000,-73.990150,40.714710,1,-73.942589,40.691307,16.500000
1499982,2014-02-23 19:23:32,2014-02-23 19:33:06,1,1.600000,-73.967949,40.752613,1,-73.985970,40.752190,8.500000
1499983,2014-10-12 09:45:07,2014-10-12 10:02:02,2,1.400000,-73.999908,40.758766,1,-73.995796,40.753170,11.500000
1499984,2014-11-21 00:33:32,2014-11-21 00:43:37,2,2.600000,-74.011436,40.702808,1,-73.998978,40.734718,10.000000
1499985,2014-11-11 15:27:07,2014-11-11 16:04:38,2,2.100000,-73.971344,40.766670,1,-73.991058,40.750401,22.000000
1499986,2014-05-29 23:05:00,2014-05-29 23:16:00,1,1.520000,-74.007484,40.743717,1,-73.988312,40.748241,8.500000
1499987,2014-07-16 06:34:59,2014-07-16 06:39:02,1,0.900000,-73.970375,40.783493,1,-73.963295,40.774700,5.500000
1499988,2014-06-10 11:43:34,2014-06-10 12:24:13,1,3.800000,-74.004532,40.730618,1,-73.964661,40.764408,24.500000
1499989,2014-09-12 07:50:00,2014-09-12 07:54:00,1,0.520000,-73.891106,40.746918,1,-73.892700,40.753902,4.500000
1499990,2014-10-19 19:01:00,2014-10-19 19:08:00,2,1.020000,-73.987091,40.733379,1,-73.993172,40.743050,6.500000
1499991,2014-09-28 03:17:00,2014-09-28 03:26:00,1,2.030000,-73.989197,40.721321,1,-74.006577,40.708282,9.000000
1499992,2014-05-29 10:12:41,2014-05-29 10:19:57,1,0.900000,-74.006691,40.731453,1,-73.995262,40.729042,6.500000
1499993,2014-03-09 21:01:00,2014-03-09 21:03:00,6,0.400000,-73.994370,40.750847,1,-73.994469,40.755177,4.000000
1499994,2014-08-22 22:06:28,2014-08-22 22:12:29,1,0.600000,-73.978432,40.728745,1,-73.986893,40.729805,5.500000
1499995,2014-06-07 20:47:42,2014-06-07 20:58:11,2,1.100000,0.000000,0.000000,1,0.000000,0.000000,8.500000
1499996,2014-01-17 17:37:00,2014-01-17 17:40:00,1,1.020000,-73.982559,40.778946,1,-73.979370,40.790501,5.500000
1499997,2014-04-03 15:59:00,2014-04-03 16:23:00,1,2.400000,-73.972885,40.755291,1,-73.985573,40.753288,15.500000
1499998,2014-07-23 22:10:15,2014-07-23 22:20:25,3,0.800000,-73.989616,40.760525,1,-73.990891,40.751278,7.500000
1499999,2014-10-08 08:04:38,2014-10-08 08:22:15,1,3.400000,-74.000015,40.732922,1,-73.990921,40.695488,14.000000

In [10]:
# Give me 250000 random sample from table tripdata_2015
sql = "SELECT * FROM tripdata_2015 ORDER BY RANDOM() LIMIT 250000;"  
df_append = pd.read_sql_query(sql, connection,index_col="Trip_ID")
df_origin=df_origin.append(df_append,ignore_index=True)
df_origin

,Pickup_DateTime,Dropoff_DateTime,Passenger_Count,Trip_Distance,Pickup_Lon,Pickup_Lat,RateCodeID,Dropoff_Lon,Dropoff_Lat,Fare_Amt
0,2009-06-04 22:02:56,2009-06-04 22:11:56,2,2.10,-73.983757,40.743824,0,-73.962143,40.765209,8.101562
1,2009-06-06 22:02:00,2009-06-06 22:30:00,1,4.08,-73.976387,40.763893,0,-74.003380,40.734158,16.093750
2,2009-06-19 17:01:00,2009-06-19 17:09:00,3,0.80,-73.973450,40.763992,0,-73.982124,40.756065,5.699219
3,2009-01-18 19:47:30,2009-01-18 19:53:35,2,2.20,-73.956551,40.771511,0,-73.976868,40.743328,7.398438
4,2009-07-13 09:27:47,2009-07-13 09:39:49,1,1.30,-73.987587,40.770531,0,-73.982986,40.758152,7.699219
5,2009-09-15 18:12:00,2009-09-15 18:29:00,1,2.59,-73.985863,40.741444,0,-73.966316,40.773003,10.898438
6,2009-05-02 20:56:00,2009-05-02 21:06:00,1,2.37,-73.986504,40.778904,0,-73.964706,40.806805,8.898438
7,2009-02-14 05:55:48,2009-02-14 06:02:13,1,2.80,-73.994293,40.690109,0,-74.007790,40.714977,9.000000
8,2009-07-24 22:29:05,2009-07-24 22:49:13,1,4.40,-73.966644,40.803864,0,-73.991371,40.752869,14.500000
9,2009-03-18 09:21:59,2009-03-18 09:39:36,1,3.00,-73.959396,40.777058,0,-73.984779,40.742172,11.703125
10,2009-05-12 19:06:29,2009-05-12 19:12:06,4,1.00,-74.000648,40.727222,0,-73.985931,40.729492,5.300781
11,2009-10-06 08:35:34,2009-10-06 08:57:34,1,3.90,-73.972038,40.753948,0,-74.000870,40.714592,14.101562
12,2009-08-04 15:23:00,2009-08-04 15:36:00,1,1.63,0.000000,0.000000,0,0.000000,0.000000,8.101562
13,2009-04-09 01:00:00,2009-04-09 01:08:00,1,3.07,-73.977264,40.751785,0,-73.970482,40.786671,8.898438
14,2009-04-23 08:04:00,2009-04-23 08:30:00,1,6.21,-73.984161,40.758366,0,-74.007034,40.706963,18.093750
15,2009-11-26 01:33:00,2009-11-26 01:40:00,3,2.17,-73.937485,40.804089,0,-73.951912,40.777992,6.898438
16,2009-05-04 20:44:00,2009-05-04 20:54:00,5,1.30,-73.983765,40.758972,0,-73.966202,40.753780,6.898438
17,2009-03-10 20:38:46,2009-03-10 20:47:22,2,1.50,-73.980995,40.742241,0,-73.964638,40.755890,7.398438
18,2009-01-09 12:33:00,2009-01-09 12:56:00,5,8.19,-73.954681,40.789333,0,-74.007004,40.705563,22.093750
19,2009-10-11 09:48:46,2009-10-11 09:50:27,1,0.50,-73.961243,40.811996,0,-73.965897,40.805683,3.699219
20,2009-06-04 09:44:00,2009-06-04 10:05:00,3,3.80,-73.965767,40.805607,0,-73.974297,40.763573,14.500000
21,2009-10-31 21:38:00,2009-10-31 21:53:00,2,2.85,-73.983429,40.765358,0,-73.949158,40.773018,10.500000
22,2009-06-21 17:29:58,2009-06-21 17:57:04,3,5.40,-74.016808,40.704796,0,-73.985710,40.759083,17.703125
23,2009-06-29 11:00:15,2009-06-29 11:04:12,1,0.70,-73.952141,40.789848,0,-73.944443,40.787937,4.500000
24,2009-11-04 13:09:00,2009-11-04 13:15:00,5,0.46,-73.994507,40.750851,0,-73.990250,40.756371,4.500000
25,2009-04-30 00:01:03,2009-04-30 00:11:37,2,1.80,-73.983543,40.757313,0,-73.980659,40.741745,7.699219
26,2009-05-15 17:26:00,2009-05-15 17:45:00,5,1.85,-73.978165,40.753494,0,-73.958725,40.767117,10.898438
27,2009-07-17 12:06:00,2009-07-17 12:27:00,2,3.03,-73.982048,40.769791,0,-73.982094,40.742939,12.898438
28,2009-03-16 00:51:00,2009-03-16 01:06:00,5,3.03,-73.991531,40.726967,0,-74.003555,40.748413,10.898438
29,2009-07-31 06:28:02,2009-07-31 06:37:20,1,2.20,0.000000,0.000000,0,0.000000,0.000000,8.101562
...,...,...,...,...,...,...,...,...,...,...
1749970,2015-08-31 21:11:57,2015-08-31 21:22:39,1,3.99,-73.873108,40.774067,1,-73.933060,40.763821,13.500000
1749971,2015-11-28 18:56:42,2015-11-28 19:09:24,2,1.30,-73.994713,40.752731,1,-73.973663,40.747032,9.500000
1749972,2015-03-31 15:58:23,2015-03-31 16:05:11,1,1.30,-73.978508,40.756706,1,-73.988640,40.740257,7.000000
1749973,2015-09-15 09:14:19,2015-09-15 09:26:02,1,2.80,-73.997574,40.756371,1,-74.008484,40.724041,11.500000
1749974,2015-01-20 09:13:43,2015-01-20 09:57:13,3,11.62,-73.863907,40.770191,1,-73.972557,40.750160,39.000000
1749975,2015-01-01 01:50:45,2015-01-01 01:57:03,1,0.90,-73.953758,40.766857,1,-73.964272,40.763912,6.000000
1749976,2015-12-11 07:26:02,2015-12-11 07:32:36,1,1.70,-74.006912,40.730255,1,-73.987785,40.741135,7.500000
1749977,2015-01-08 10:18:15,2015-01-08 10:30:25,1,1.10,-74.010239,40.712330,1,-73.996689,40.715324,9.000000
1749978,2015-01-16 14:49:51,2015-01-16 15:04:13,1,2.72,-74.014778,40.714169,1,-74.000969,40.742260,12.500000
1749979,2015-10-24 23:49:02,2015-10-24 23:55:13,1,1.20,-74.000214,40.717880,1,-74.005859,40.707958,6.500000
1749980,2015-10-06 19:38:28,2015-10-06 20:02:54,1,9.40,-73.989655,40.746330,1,-73.921280,40.861111,28.500000
1749981,2015-03-09 16:44:52,2015-03-09 16:57:14,2,2.13,-73.953293,40.782551,1,-73.982338,40.783230,10.000000
1749982,2015-08-20 15:19:22,2015-08-20 15:40:07,1,2.75,-73.989693,40.752377,1,-73.955345,40.766113,15.000000
1749983,2015-11-08 01:09:15,2015-11-08 01:18:23,1,1.75,-73.983498,40.743591,1,-73.971901,40.762901,8.500000
1749984,2015-12-13 22:26:37,2015-12-13 22:34:14,1,1.60,-73.954659,40.805321,1,-73.941078,40.793381,8.000000
1749985,2015-06-17 11:35:07,2015-06-17 11:39:55,5,0.86,-73.957893,40.768631,1,-73.950249,40.777260,5.500000
1749986,2015-02-10 18:39:53,2015-02-10 18:59:56,4,2.89,-73.989204,40.769428,1,-74.001984,40.736130,14.000000
1749987,2015-11-25 12:31:01,2015-11-25 12:39:19,1,1.10,-74.007492,40.743107,1,-74.006401,40.733707,7.000000
1749988,2015-07-18 21:18:38,2015-07-18 21:28:01,1,1.50,-73.998505,40.756844,1,-74.005539,40.740974,8.500000
1749989,2015-11-22 15:49:39,2015-11-22 15:55:44,1,1.40,-73.993752,40.757133,1,-74.005692,40.737934,6.500000
1749990,2015-06-24 10:16:58,2015-06-24 10:45:18,6,2.58,-73.948784,40.770657,1,-73.978615,40.756687,18.000000
1749991,2015-07-20 10:38:50,2015-07-20 10:45:33,1,0.86,-73.960114,40.773659,1,-73.967972,40.762379,6.000000
1749992,2015-10-09 00:15:08,2015-10-09 00:35:33,1,5.71,-73.968071,40.756119,1,-73.964157,40.710430,21.000000
1749993,2015-02-14 13:17:56,2015-02-14 13:23:36,1,1.62,-73.981262,40.741310,1,-73.967583,40.760120,7.000000
1749994,2015-08-12 16:32:19,2015-08-12 17:04:40,2,6.30,-74.015244,40.714329,1,-73.976776,40.751377,25.000000
1749995,2015-03-21 17:44:01,2015-03-21 17:53:21,1,1.40,-74.000237,40.758286,1,-73.981651,40.762150,7.500000
1749996,2015-02-05 08:26:56,2015-02-05 09:06:47,1,8.78,-73.939011,40.843819,1,-73.996468,40.748562,32.000000
1749997,2015-10-24 17:17:27,2015-10-24 17:30:14,4,1.30,-73.992294,40.738552,1,-73.999077,40.723209,9.000000
1749998,2015-08-27 17:19:59,2015-08-27 17:36:03,2,1.80,-74.001183,40.741856,1,-73.979530,40.751923,11.500000
1749999,2015-03-21 14:14:28,2015-03-21 14:22:15,5,1.56,-73.968338,40.759682,1,-73.977982,40.773418,7.500000

In [11]:
# Give me 250000 random sample from table tripdata_2016
sql = "SELECT * FROM tripdata_2016 ORDER BY RANDOM() LIMIT 250000;"  
df_append = pd.read_sql_query(sql, connection,index_col="Trip_ID")
df_origin=df_origin.append(df_append,ignore_index=True)
df_origin

,Pickup_DateTime,Dropoff_DateTime,Passenger_Count,Trip_Distance,Pickup_Lon,Pickup_Lat,RateCodeID,Dropoff_Lon,Dropoff_Lat,Fare_Amt
0,2009-06-04 22:02:56,2009-06-04 22:11:56,2,2.10,-73.983757,40.743824,0,-73.962143,40.765209,8.101562
1,2009-06-06 22:02:00,2009-06-06 22:30:00,1,4.08,-73.976387,40.763893,0,-74.003380,40.734158,16.093750
2,2009-06-19 17:01:00,2009-06-19 17:09:00,3,0.80,-73.973450,40.763992,0,-73.982124,40.756065,5.699219
3,2009-01-18 19:47:30,2009-01-18 19:53:35,2,2.20,-73.956551,40.771511,0,-73.976868,40.743328,7.398438
4,2009-07-13 09:27:47,2009-07-13 09:39:49,1,1.30,-73.987587,40.770531,0,-73.982986,40.758152,7.699219
5,2009-09-15 18:12:00,2009-09-15 18:29:00,1,2.59,-73.985863,40.741444,0,-73.966316,40.773003,10.898438
6,2009-05-02 20:56:00,2009-05-02 21:06:00,1,2.37,-73.986504,40.778904,0,-73.964706,40.806805,8.898438
7,2009-02-14 05:55:48,2009-02-14 06:02:13,1,2.80,-73.994293,40.690109,0,-74.007790,40.714977,9.000000
8,2009-07-24 22:29:05,2009-07-24 22:49:13,1,4.40,-73.966644,40.803864,0,-73.991371,40.752869,14.500000
9,2009-03-18 09:21:59,2009-03-18 09:39:36,1,3.00,-73.959396,40.777058,0,-73.984779,40.742172,11.703125
10,2009-05-12 19:06:29,2009-05-12 19:12:06,4,1.00,-74.000648,40.727222,0,-73.985931,40.729492,5.300781
11,2009-10-06 08:35:34,2009-10-06 08:57:34,1,3.90,-73.972038,40.753948,0,-74.000870,40.714592,14.101562
12,2009-08-04 15:23:00,2009-08-04 15:36:00,1,1.63,0.000000,0.000000,0,0.000000,0.000000,8.101562
13,2009-04-09 01:00:00,2009-04-09 01:08:00,1,3.07,-73.977264,40.751785,0,-73.970482,40.786671,8.898438
14,2009-04-23 08:04:00,2009-04-23 08:30:00,1,6.21,-73.984161,40.758366,0,-74.007034,40.706963,18.093750
15,2009-11-26 01:33:00,2009-11-26 01:40:00,3,2.17,-73.937485,40.804089,0,-73.951912,40.777992,6.898438
16,2009-05-04 20:44:00,2009-05-04 20:54:00,5,1.30,-73.983765,40.758972,0,-73.966202,40.753780,6.898438
17,2009-03-10 20:38:46,2009-03-10 20:47:22,2,1.50,-73.980995,40.742241,0,-73.964638,40.755890,7.398438
18,2009-01-09 12:33:00,2009-01-09 12:56:00,5,8.19,-73.954681,40.789333,0,-74.007004,40.705563,22.093750
19,2009-10-11 09:48:46,2009-10-11 09:50:27,1,0.50,-73.961243,40.811996,0,-73.965897,40.805683,3.699219
20,2009-06-04 09:44:00,2009-06-04 10:05:00,3,3.80,-73.965767,40.805607,0,-73.974297,40.763573,14.500000
21,2009-10-31 21:38:00,2009-10-31 21:53:00,2,2.85,-73.983429,40.765358,0,-73.949158,40.773018,10.500000
22,2009-06-21 17:29:58,2009-06-21 17:57:04,3,5.40,-74.016808,40.704796,0,-73.985710,40.759083,17.703125
23,2009-06-29 11:00:15,2009-06-29 11:04:12,1,0.70,-73.952141,40.789848,0,-73.944443,40.787937,4.500000
24,2009-11-04 13:09:00,2009-11-04 13:15:00,5,0.46,-73.994507,40.750851,0,-73.990250,40.756371,4.500000
25,2009-04-30 00:01:03,2009-04-30 00:11:37,2,1.80,-73.983543,40.757313,0,-73.980659,40.741745,7.699219
26,2009-05-15 17:26:00,2009-05-15 17:45:00,5,1.85,-73.978165,40.753494,0,-73.958725,40.767117,10.898438
27,2009-07-17 12:06:00,2009-07-17 12:27:00,2,3.03,-73.982048,40.769791,0,-73.982094,40.742939,12.898438
28,2009-03-16 00:51:00,2009-03-16 01:06:00,5,3.03,-73.991531,40.726967,0,-74.003555,40.748413,10.898438
29,2009-07-31 06:28:02,2009-07-31 06:37:20,1,2.20,0.000000,0.000000,0,0.000000,0.000000,8.101562
...,...,...,...,...,...,...,...,...,...,...
1999970,2016-06-17 08:35:28,2016-06-17 08:45:42,1,2.43,-73.896431,40.636162,1,-73.870949,40.661171,9.500000
1999971,2016-02-18 16:28:06,2016-02-18 16:34:29,1,0.90,-73.999825,40.721825,1,-74.006149,40.711926,6.000000
1999972,2016-03-17 10:02:07,2016-03-17 10:25:32,5,2.12,-73.970711,40.758259,1,-73.992363,40.737839,15.000000
1999973,2016-04-04 22:11:20,2016-04-04 22:27:14,1,8.98,-73.985382,40.768372,1,-73.918716,40.871338,26.000000
1999974,2016-06-12 09:52:49,2016-06-12 10:07:40,1,3.10,-73.992020,40.750191,1,-73.961052,40.767155,12.500000
1999975,2016-05-11 15:44:14,2016-05-11 16:43:19,1,14.70,-73.972794,40.749596,2,-73.786713,40.645004,52.000000
1999976,2016-05-26 14:28:46,2016-05-26 14:44:20,2,1.81,-73.982910,40.760262,1,-73.996193,40.738762,11.000000
1999977,2016-05-18 15:56:43,2016-05-18 16:10:12,2,1.70,-73.979187,40.785107,1,-73.956665,40.784229,10.000000
1999978,2016-02-23 21:24:56,2016-02-23 21:45:06,1,9.90,-73.872780,40.774231,1,-73.986580,40.730259,28.500000
1999979,2016-02-15 12:05:50,2016-02-15 12:09:16,1,0.46,-73.977631,40.788742,1,-73.971657,40.787296,4.000000
1999980,2016-01-12 15:18:13,2016-01-12 15:22:33,3,0.50,-73.994637,40.760860,1,-73.985329,40.757259,4.500000
1999981,2016-01-01 03:27:40,2016-01-01 03:41:49,5,3.49,-74.007729,40.725761,1,-73.974319,40.687252,13.500000
1999982,2016-03-13 09:47:03,2016-03-13 09:55:08,1,1.50,-73.991661,40.749828,1,-73.983788,40.767052,8.000000
1999983,2016-03-15 08:14:22,2016-03-15 08:33:29,1,4.41,-73.978790,40.740959,1,-74.013741,40.702339,18.500000
1999984,2016-05-10 20:04:14,2016-05-10 20:16:19,3,1.23,-73.975403,40.761967,1,-73.978706,40.747898,9.000000
1999985,2016-03-03 18:24:19,2016-03-03 19:04:39,5,9.27,-73.981323,40.679779,1,-73.971390,40.765362,31.500000
1999986,2016-06-02 16:52:58,2016-06-02 17:12:45,2,2.08,-73.981750,40.757584,1,-73.979790,40.781078,13.500000
1999987,2016-04-22 17:07:48,2016-04-22 17:28:01,4,1.00,-74.007858,40.739429,1,-74.009987,40.726910,12.500000
1999988,2016-03-16 11:44:29,2016-03-16 11:48:16,2,0.59,-74.009758,40.721981,1,-74.003960,40.725529,4.500000
1999989,2016-06-11 02:19:47,2016-06-11 02:25:16,1,0.94,-73.988983,40.726921,1,-73.985260,40.733421,6.000000
1999990,2016-04-27 19:27:42,2016-04-27 19:30:02,1,0.40,-73.958878,40.780861,1,-73.954468,40.786987,4.000000
1999991,2016-03-27 15:25:32,2016-03-27 15:32:15,1,1.00,-73.984924,40.729866,1,-73.988686,40.720207,6.500000
1999992,2016-03-17 20:32:18,2016-03-17 20:37:25,2,0.89,-73.991447,40.750141,1,-74.002167,40.755669,5.500000
1999993,2016-03-31 02:11:18,2016-03-31 02:26:51,1,11.10,-73.998665,40.764145,5,-73.995262,40.887817,0.000000
1999994,2016-06-11 02:54:04,2016-06-11 03:05:56,1,4.70,-73.988068,40.722664,1,-73.986412,40.689709,15.500000
1999995,2016-05-21 09:10:29,2016-05-21 09:40:24,1,4.68,-73.980209,40.668598,1,-73.942833,40.656132,21.000000
1999996,2016-05-12 10:57:55,2016-05-12 11:03:46,1,1.20,-73.990356,40.751724,1,-74.003441,40.750725,6.000000
1999997,2016-01-08 07:22:38,2016-01-08 07:24:56,1,0.30,-73.958305,40.769691,1,-73.953728,40.766666,3.500000
1999998,2016-03-25 20:39:06,2016-03-25 20:46:40,1,1.30,-73.945122,40.808140,1,-73.944191,40.821312,7.000000
1999999,2016-02-27 16:07:18,2016-02-27 16:47:06,1,7.56,-73.970619,40.796532,1,-73.904678,40.857319,28.500000

In [12]:
#Convert the dtypes of each Column for Exploration
df_origin= df_origin.astype(dtypes)

In [13]:
df_origin.dtypes

Pickup_DateTime     datetime64[ns]
Dropoff_DateTime    datetime64[ns]
Passenger_Count              uint8
Trip_Distance              float16
Pickup_Lon                 float32
Pickup_Lat                 float32
RateCodeID                   uint8
Dropoff_Lon                float32
Dropoff_Lat                float32
Fare_Amt                   float16
dtype: object

In [14]:
df_origin.describe()

,Passenger_Count,Trip_Distance,Pickup_Lon,Pickup_Lat,RateCodeID,Dropoff_Lon,Dropoff_Lat,Fare_Amt
count,2.000000e+06,2.000000e+06,2.000000e+06,2.000000e+06,2.000000e+06,1.999989e+06,1.999989e+06,2.000000e+06
mean,1.681454e+00,NaN,-7.257114e+01,3.996286e+01,9.086040e-01,-7.259656e+01,3.997035e+01,NaN
std,1.333940e+00,NaN,1.297025e+01,1.086378e+01,6.490901e-01,1.306104e+01,1.079283e+01,NaN
min,0.000000e+00,0.000000e+00,-3.358101e+03,-3.114292e+03,0.000000e+00,-3.386093e+03,-3.486646e+03,-1.000000e+02
25%,1.000000e+00,1.009766e+00,-7.399204e+01,4.073508e+01,1.000000e+00,-7.399136e+01,4.073408e+01,6.101562e+00
50%,1.000000e+00,1.730469e+00,-7.398177e+01,4.075269e+01,1.000000e+00,-7.398006e+01,4.075323e+01,8.500000e+00
75%,2.000000e+00,3.169922e+00,-7.396697e+01,4.076724e+01,1.000000e+00,-7.396339e+01,4.076828e+01,1.300000e+01
max,2.080000e+02,inf,3.380714e+03,3.351468e+03,2.100000e+02,2.443999e+03,3.351468e+03,inf

In [15]:
# Convert to parquet for quick reloading
# Set Path for Parquet Files
path="F:/1_Bachelorarbeit/1_Daten/1_Yellow_Cab_Trips_2009-June_2016/5_Dataset_for_Exploration"
df_origin.to_parquet(os.path.join(path, "Exploration_Tripdata_2m" + "." + "parquet"),engine="fastparquet")