In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import folium
import fastparquet
import os

### Connect to Database and create Cursor

In [2]:
path="F:/1_Bachelorarbeit/1_Daten/1_Yellow_Cab_Trips_2009-June_2016/Sqlite/NYC_Yellow_Cab_Tripdata"
# Create Database or if Name is there open Database
connection = sqlite3.connect(path)
# Create Cursor for SQL-Commands
cursor=connection.cursor()

### Sample 2.000.000 Random Entries of all Tripdata Tables

In [3]:
dtypes={"Pickup_DateTime":np.datetime64,"Dropoff_DateTime":np.datetime64,"Passenger_Count":np.uint8,"Trip_Distance":np.float16,"Pickup_Lon":np.float32,"Pickup_Lat":np.float32,"RateCodeID":np.uint8,"Dropoff_Lon":np.float32,"Dropoff_Lat":np.float32,"Fare_Amt":np.float16}
# Give me 250000 random sample from table tripdata_2009
sql = "SELECT * FROM tripdata_2009 ORDER BY RANDOM() LIMIT 250000;"  
df_origin = pd.read_sql_query(sql, connection, index_col="Trip_ID")
# Replace all None Values of RateCodeID with Zero -> Because 0 is for none RateCodeID
df_origin["RateCodeID"].fillna(value=0, inplace=True)

In [4]:
df_origin

,Pickup_DateTime,Dropoff_DateTime,Passenger_Count,Trip_Distance,Pickup_Lon,Pickup_Lat,RateCodeID,Dropoff_Lon,Dropoff_Lat,Fare_Amt
Trip_ID,,,,,,,,,,
56172835,2009-05-04 00:45:40,2009-05-04 00:49:59,1,0.700000,-73.987068,40.756031,0,-73.977425,40.749626,4.500000
168340108,2009-12-18 19:11:35,2009-12-18 20:05:53,1,19.299999,-74.014847,40.711170,0,-73.776382,40.646065,45.000000
113884629,2009-09-10 23:43:00,2009-09-10 23:55:00,5,1.570000,-73.991966,40.725288,0,-74.009697,40.710354,8.101562
71547033,2009-06-15 20:59:00,2009-06-15 21:07:00,1,1.500000,-73.955482,40.779682,0,-73.979057,40.789425,6.898438
113147745,2009-09-16 15:30:20,2009-09-16 15:58:29,1,2.400000,-73.980927,40.770405,0,-74.006332,40.751778,7.300781
132261594,2009-10-12 12:16:00,2009-10-12 12:27:00,2,1.130000,-73.972542,40.752396,0,-73.972313,40.764648,7.300781
47465336,2009-04-19 12:33:56,2009-04-19 12:48:56,3,3.800000,-73.950409,40.779797,0,-73.994713,40.760674,11.703125
136761581,2009-10-19 08:09:02,2009-10-19 08:26:46,1,5.200000,-73.968048,40.755409,0,-74.010063,40.707729,14.898438
78761008,2009-06-20 17:35:00,2009-06-20 17:44:00,1,2.430000,-73.943062,40.789661,0,-73.916649,40.815636,8.101562
133601321,2009-10-07 08:13:51,2009-10-07 08:29:59,2,2.000000,-73.963676,40.807999,0,-73.955727,40.787914,10.101562
128148469,2009-10-09 18:29:00,2009-10-09 18:45:00,1,3.010000,-73.985596,40.752991,0,-73.950943,40.774666,10.898438
137853977,2009-10-22 19:23:00,2009-10-22 19:27:00,1,0.440000,-73.955223,40.767544,0,-73.955872,40.772015,3.699219
27495650,2009-03-08 02:13:59,2009-03-08 02:22:45,2,2.200000,-73.978333,40.783298,0,-73.955009,40.804836,8.203125
120948647,2009-09-02 13:19:00,2009-09-02 13:25:00,3,0.750000,-73.963387,40.758575,0,-73.971008,40.751102,4.898438
41599652,2009-03-01 01:15:00,2009-03-01 01:26:00,3,1.540000,-74.004402,40.722721,0,-74.006195,40.739758,7.300781
113053870,2009-09-24 15:10:25,2009-09-24 15:30:47,1,2.500000,-73.954803,40.783474,0,-73.974014,40.751339,12.101562
2625346,2009-01-07 03:22:41,2009-01-07 03:29:19,2,1.900000,-73.959213,40.783245,0,-73.963814,40.761982,7.800781
109044639,2009-08-04 12:51:00,2009-08-04 13:03:00,5,0.920000,-73.996414,40.753551,0,-74.000755,40.742325,7.699219
36494848,2009-03-18 09:53:33,2009-03-18 09:59:26,1,0.900000,-73.979431,40.749256,0,-73.972122,40.761917,5.300781
157407225,2009-12-21 12:38:22,2009-12-21 12:50:18,1,1.000000,-73.992264,40.743683,0,-73.992012,40.753822,7.699219
120451349,2009-09-02 11:19:00,2009-09-02 11:28:00,1,1.450000,-73.983696,40.744202,0,-73.973045,40.761642,6.898438
52531837,2009-04-23 19:07:00,2009-04-23 19:53:00,5,18.340000,-74.004135,40.721966,0,-73.782372,40.648788,45.000000
137665379,2009-10-25 13:59:51,2009-10-25 14:10:40,1,2.100000,-73.965263,40.791058,0,-73.945992,40.777950,8.500000
108910412,2009-08-17 07:47:00,2009-08-17 07:53:00,5,1.700000,-73.986450,40.744469,0,-73.972771,40.760448,6.500000
26097899,2009-02-03 06:33:36,2009-02-03 06:41:32,1,1.700000,-73.992043,40.731247,0,-73.993660,40.749947,6.898438
25779667,2009-02-16 00:01:00,2009-02-16 00:04:00,1,0.930000,-73.991447,40.760105,0,-74.001122,40.751358,4.500000
154247069,2009-11-22 15:09:00,2009-11-22 15:16:00,1,0.920000,-73.973061,40.754772,0,-73.973717,40.762871,5.699219
50750208,2009-04-10 12:22:00,2009-04-10 12:29:00,5,1.270000,-73.971397,40.797703,0,-73.983719,40.783943,6.101562
55306043,2009-04-16 07:48:41,2009-04-16 07:52:45,2,0.800000,-73.989998,40.755962,0,-73.982018,40.763496,4.500000
14439788,2009-02-15 13:03:00,2009-02-15 13:10:00,1,1.270000,-73.991119,40.756161,0,-73.985062,40.768532,6.101562
...,...,...,...,...,...,...,...,...,...,...
40077142,2009-03-05 19:26:08,2009-03-05 19:37:12,3,0.500000,-73.909050,40.881989,0,-73.923096,40.866905,3.699219
93436734,2009-07-14 23:29:00,2009-07-14 23:32:00,2,0.650000,-73.984879,40.736382,0,-73.979202,40.744232,3.699219
106890619,2009-08-14 12:40:12,2009-08-14 12:44:59,1,0.700000,-73.955719,40.788052,0,-73.960938,40.778423,4.500000
37937553,2009-03-07 07:37:47,2009-03-07 07:51:32,1,2.700000,-73.957993,40.768944,0,-73.990776,40.755421,10.101562
82252875,2009-06-19 18:09:47,2009-06-19 18:44:57,1,14.300000,-73.874695,40.774136,0,-73.863594,40.900097,32.093750
109312605,2009-08-05 18:12:28,2009-08-05 18:33:50,1,3.700000,-73.974930,40.761414,0,-74.008575,40.720200,13.296875
151389122,2009-11-17 13:29:24,2009-11-17 13:38:47,1,1.200000,-73.975525,40.757225,0,-73.962418,40.767300,6.898438
23588880,2009-02-19 18:23:25,2009-02-19 18:30:30,1,1.200000,-73.958572,40.815853,0,-73.948685,40.825790,7.101562
100851616,2009-08-14 15:28:37,2009-08-14 15:41:07,1,3.500000,-73.946892,40.778355,0,-73.972672,40.743618,10.898438
62420589,2009-05-12 20:04:00,2009-05-12 20:11:00,2,1.610000,-73.981979,40.768223,0,-73.973373,40.785278,6.500000
133300840,2009-10-12 14:04:30,2009-10-12 14:21:37,1,2.200000,-73.970535,40.764080,0,-73.974792,40.742073,10.500000
151120030,2009-11-18 19:28:51,2009-11-18 19:51:20,1,6.600000,-74.010437,40.703148,0,-73.993713,40.758862,18.500000
134430503,2009-10-10 19:41:03,2009-10-10 19:58:25,1,8.800000,-73.948509,40.774700,0,-74.010445,40.719749,20.906250
54296415,2009-04-28 00:42:00,2009-04-28 00:52:00,1,2.240000,-73.962341,40.760490,0,-73.966568,40.756615,7.300781
58936366,2009-05-17 18:03:29,2009-05-17 18:10:06,2,1.800000,-74.002441,40.739998,0,-73.986885,40.761913,6.500000
75138667,2009-06-20 02:05:19,2009-06-20 02:15:31,1,2.200000,-73.973343,40.748463,0,-73.984146,40.723194,8.500000
55633984,2009-04-25 00:15:02,2009-04-25 00:21:15,3,1.400000,-73.959137,40.783409,0,-73.959137,40.783409,6.101562
19235893,2009-02-13 22:17:00,2009-02-13 22:27:00,3,1.270000,-73.990227,40.733032,0,-73.979706,40.723663,6.898438
108636413,2009-08-28 17:22:07,2009-08-28 17:37:33,1,1.300000,-73.990196,40.756809,0,-73.972092,40.756626,9.296875
119871418,2009-09-17 00:21:00,2009-09-17 00:32:00,5,2.980000,-73.971893,40.781773,0,-73.945160,40.819462,10.101562
52454589,2009-04-27 11:30:07,2009-04-27 11:34:24,1,0.900000,-73.989304,40.740616,0,-73.978340,40.745670,4.500000
88500951,2009-07-11 19:21:00,2009-07-11 19:30:00,1,1.620000,-73.986252,40.743481,0,-74.005600,40.738033,6.898438
104521291,2009-08-11 11:34:00,2009-08-11 11:46:00,1,2.660000,-73.864159,40.771168,0,-73.901619,40.774429,9.296875
136388178,2009-10-29 17:33:55,2009-10-29 17:34:56,1,0.200000,-73.864250,40.768162,0,-73.862251,40.768208,39.000000
66208083,2009-05-13 04:37:35,2009-05-13 04:42:59,2,1.600000,-73.993622,40.729752,0,-74.010086,40.711353,6.101562
235598,2009-01-09 21:29:49,2009-01-09 21:36:32,2,1.100000,-73.997620,40.737709,0,-73.995026,40.750118,6.199219
41991053,2009-04-17 17:04:26,2009-04-17 17:12:55,2,1.800000,-73.970642,40.761848,0,-73.985313,40.738701,7.300781
80867949,2009-06-20 21:01:00,2009-06-20 21:10:00,1,1.150000,-73.983994,40.725391,0,-74.002403,40.728249,6.500000
88110572,2009-07-25 00:21:42,2009-07-25 00:55:16,1,8.200000,-73.947655,40.669788,0,-73.994583,40.738979,23.703125
160877842,2009-12-29 15:56:00,2009-12-29 16:06:00,1,1.480000,-73.982880,40.747978,0,-73.967918,40.761978,6.898438

In [5]:
# Give me 250000 random sample from table tripdata_2010
sql = "SELECT * FROM tripdata_2010 ORDER BY RANDOM() LIMIT 250000;"  
df_append = pd.read_sql_query(sql, connection,index_col="Trip_ID")
df_origin=df_origin.append(df_append,ignore_index=True)
df_origin

,Pickup_DateTime,Dropoff_DateTime,Passenger_Count,Trip_Distance,Pickup_Lon,Pickup_Lat,RateCodeID,Dropoff_Lon,Dropoff_Lat,Fare_Amt
0,2009-05-04 00:45:40,2009-05-04 00:49:59,1,0.700000,-73.987068,40.756031,0,-73.977425,40.749626,4.500000
1,2009-12-18 19:11:35,2009-12-18 20:05:53,1,19.299999,-74.014847,40.711170,0,-73.776382,40.646065,45.000000
2,2009-09-10 23:43:00,2009-09-10 23:55:00,5,1.570000,-73.991966,40.725288,0,-74.009697,40.710354,8.101562
3,2009-06-15 20:59:00,2009-06-15 21:07:00,1,1.500000,-73.955482,40.779682,0,-73.979057,40.789425,6.898438
4,2009-09-16 15:30:20,2009-09-16 15:58:29,1,2.400000,-73.980927,40.770405,0,-74.006332,40.751778,7.300781
5,2009-10-12 12:16:00,2009-10-12 12:27:00,2,1.130000,-73.972542,40.752396,0,-73.972313,40.764648,7.300781
6,2009-04-19 12:33:56,2009-04-19 12:48:56,3,3.800000,-73.950409,40.779797,0,-73.994713,40.760674,11.703125
7,2009-10-19 08:09:02,2009-10-19 08:26:46,1,5.200000,-73.968048,40.755409,0,-74.010063,40.707729,14.898438
8,2009-06-20 17:35:00,2009-06-20 17:44:00,1,2.430000,-73.943062,40.789661,0,-73.916649,40.815636,8.101562
9,2009-10-07 08:13:51,2009-10-07 08:29:59,2,2.000000,-73.963676,40.807999,0,-73.955727,40.787914,10.101562
10,2009-10-09 18:29:00,2009-10-09 18:45:00,1,3.010000,-73.985596,40.752991,0,-73.950943,40.774666,10.898438
11,2009-10-22 19:23:00,2009-10-22 19:27:00,1,0.440000,-73.955223,40.767544,0,-73.955872,40.772015,3.699219
12,2009-03-08 02:13:59,2009-03-08 02:22:45,2,2.200000,-73.978333,40.783298,0,-73.955009,40.804836,8.203125
13,2009-09-02 13:19:00,2009-09-02 13:25:00,3,0.750000,-73.963387,40.758575,0,-73.971008,40.751102,4.898438
14,2009-03-01 01:15:00,2009-03-01 01:26:00,3,1.540000,-74.004402,40.722721,0,-74.006195,40.739758,7.300781
15,2009-09-24 15:10:25,2009-09-24 15:30:47,1,2.500000,-73.954803,40.783474,0,-73.974014,40.751339,12.101562
16,2009-01-07 03:22:41,2009-01-07 03:29:19,2,1.900000,-73.959213,40.783245,0,-73.963814,40.761982,7.800781
17,2009-08-04 12:51:00,2009-08-04 13:03:00,5,0.920000,-73.996414,40.753551,0,-74.000755,40.742325,7.699219
18,2009-03-18 09:53:33,2009-03-18 09:59:26,1,0.900000,-73.979431,40.749256,0,-73.972122,40.761917,5.300781
19,2009-12-21 12:38:22,2009-12-21 12:50:18,1,1.000000,-73.992264,40.743683,0,-73.992012,40.753822,7.699219
20,2009-09-02 11:19:00,2009-09-02 11:28:00,1,1.450000,-73.983696,40.744202,0,-73.973045,40.761642,6.898438
21,2009-04-23 19:07:00,2009-04-23 19:53:00,5,18.340000,-74.004135,40.721966,0,-73.782372,40.648788,45.000000
22,2009-10-25 13:59:51,2009-10-25 14:10:40,1,2.100000,-73.965263,40.791058,0,-73.945992,40.777950,8.500000
23,2009-08-17 07:47:00,2009-08-17 07:53:00,5,1.700000,-73.986450,40.744469,0,-73.972771,40.760448,6.500000
24,2009-02-03 06:33:36,2009-02-03 06:41:32,1,1.700000,-73.992043,40.731247,0,-73.993660,40.749947,6.898438
25,2009-02-16 00:01:00,2009-02-16 00:04:00,1,0.930000,-73.991447,40.760105,0,-74.001122,40.751358,4.500000
26,2009-11-22 15:09:00,2009-11-22 15:16:00,1,0.920000,-73.973061,40.754772,0,-73.973717,40.762871,5.699219
27,2009-04-10 12:22:00,2009-04-10 12:29:00,5,1.270000,-73.971397,40.797703,0,-73.983719,40.783943,6.101562
28,2009-04-16 07:48:41,2009-04-16 07:52:45,2,0.800000,-73.989998,40.755962,0,-73.982018,40.763496,4.500000
29,2009-02-15 13:03:00,2009-02-15 13:10:00,1,1.270000,-73.991119,40.756161,0,-73.985062,40.768532,6.101562
...,...,...,...,...,...,...,...,...,...,...
499970,2010-11-26 15:25:00,2010-11-26 15:54:00,2,16.110001,-73.786697,40.641182,1,-73.948135,40.712002,36.500000
499971,2010-04-12 09:40:00,2010-04-12 09:46:00,5,0.820000,-73.976295,40.755451,1,-73.983147,40.744518,5.300781
499972,2010-10-02 00:21:13,2010-10-02 00:33:13,3,2.200000,-73.987717,40.719456,1,-73.978264,40.745640,8.898438
499973,2010-11-20 13:58:00,2010-11-20 14:05:00,1,0.720000,-73.980316,40.759811,1,-73.969490,40.757904,4.898438
499974,2010-09-08 13:48:09,2010-09-08 14:00:40,1,1.300000,-73.953941,40.806423,1,-73.966072,40.789883,7.699219
499975,2010-09-22 11:32:38,2010-09-22 12:08:06,1,11.700000,-73.984673,40.756702,1,-73.861549,40.768219,30.906250
499976,2010-11-20 12:37:00,2010-11-20 12:42:00,5,0.940000,-73.955582,40.619259,1,-73.958015,40.622066,4.898438
499977,2010-12-06 10:54:00,2010-12-06 11:13:00,1,6.880000,-73.979774,40.783844,1,-74.012306,40.708874,18.093750
499978,2010-12-03 12:55:49,2010-12-03 12:57:52,1,0.300000,-73.949615,40.812447,1,-73.949478,40.808609,3.300781
499979,2010-06-04 02:04:02,2010-06-04 02:30:17,1,9.700000,-73.971809,40.756741,1,-73.818108,40.706604,24.906250
499980,2010-06-11 23:28:00,2010-06-11 23:37:00,1,2.720000,-73.982460,40.748520,1,-73.955818,40.777817,8.500000
499981,2010-06-09 18:14:12,2010-06-09 19:32:46,2,18.700001,-73.782333,40.644672,2,-73.978935,40.763893,45.000000
499982,2010-10-23 03:57:44,2010-10-23 04:09:26,1,5.800000,-73.987495,40.728844,1,-73.939728,40.793709,14.500000
499983,2010-11-04 11:06:34,2010-11-04 11:15:08,1,1.000000,-73.973351,40.752369,1,-73.979431,40.742241,6.101562
499984,2010-08-31 15:54:00,2010-08-31 16:35:00,2,7.220000,-74.004242,40.707817,1,-73.975349,40.776917,25.296875
499985,2010-11-26 16:11:09,2010-11-26 16:17:20,1,0.800000,-73.996742,40.724304,1,-73.983894,40.721611,5.300781
499986,2010-11-11 12:58:00,2010-11-11 13:04:00,2,0.840000,-74.006836,40.748848,1,-74.005699,40.740116,5.300781
499987,2010-11-09 10:05:48,2010-11-09 10:10:38,1,1.000000,0.000000,0.000000,1,0.000000,0.000000,4.898438
499988,2010-12-21 17:52:58,2010-12-21 18:03:03,1,1.100000,-73.988556,40.768311,1,-73.976845,40.758560,6.898438
499989,2010-01-11 14:40:00,2010-01-11 14:44:00,5,0.640000,-73.996994,40.752419,1,-74.005585,40.750954,4.101562
499990,2010-10-14 14:11:00,2010-10-14 14:16:00,2,0.710000,-73.995514,40.759167,1,-73.986092,40.760937,4.500000
499991,2010-08-05 08:45:00,2010-08-05 08:47:00,5,0.530000,-73.976746,40.739815,1,-73.971695,40.746407,3.699219
499992,2010-10-14 00:25:00,2010-10-14 00:42:48,1,5.100000,-73.991493,40.760082,1,-73.924118,40.761391,14.500000
499993,2010-02-04 08:25:12,2010-02-04 08:33:11,1,2.200000,-74.005898,40.736095,1,-73.984222,40.764114,7.699219
499994,2010-01-27 14:04:01,2010-01-27 14:11:28,1,1.200000,-73.975464,40.756741,1,-73.960632,40.761406,6.101562
499995,2010-05-23 19:01:08,2010-05-23 19:04:29,1,0.500000,-73.964165,40.771217,1,-73.968369,40.767284,4.101562
499996,2010-05-06 09:13:00,2010-05-06 09:21:00,2,0.840000,-73.994141,40.732319,1,-73.998596,40.723362,5.699219
499997,2010-03-10 08:26:22,2010-03-10 08:41:17,1,3.500000,0.000000,0.000000,1,0.000000,0.000000,11.703125
499998,2010-09-19 12:13:31,2010-09-19 12:17:03,1,0.800000,-73.965851,40.761166,1,-73.956024,40.764763,4.500000
499999,2010-05-12 11:16:54,2010-05-12 11:25:48,1,0.700000,-73.995903,40.744221,1,-73.987022,40.738277,6.101562

In [6]:
# Give me 250000 random sample from table tripdata_2011
sql = "SELECT * FROM tripdata_2011 ORDER BY RANDOM() LIMIT 250000;"  
df_append = pd.read_sql_query(sql, connection,index_col="Trip_ID")
df_origin=df_origin.append(df_append,ignore_index=True)
df_origin

,Pickup_DateTime,Dropoff_DateTime,Passenger_Count,Trip_Distance,Pickup_Lon,Pickup_Lat,RateCodeID,Dropoff_Lon,Dropoff_Lat,Fare_Amt
0,2009-05-04 00:45:40,2009-05-04 00:49:59,1,0.700000,-73.987068,40.756031,0,-73.977425,40.749626,4.500000
1,2009-12-18 19:11:35,2009-12-18 20:05:53,1,19.299999,-74.014847,40.711170,0,-73.776382,40.646065,45.000000
2,2009-09-10 23:43:00,2009-09-10 23:55:00,5,1.570000,-73.991966,40.725288,0,-74.009697,40.710354,8.101562
3,2009-06-15 20:59:00,2009-06-15 21:07:00,1,1.500000,-73.955482,40.779682,0,-73.979057,40.789425,6.898438
4,2009-09-16 15:30:20,2009-09-16 15:58:29,1,2.400000,-73.980927,40.770405,0,-74.006332,40.751778,7.300781
5,2009-10-12 12:16:00,2009-10-12 12:27:00,2,1.130000,-73.972542,40.752396,0,-73.972313,40.764648,7.300781
6,2009-04-19 12:33:56,2009-04-19 12:48:56,3,3.800000,-73.950409,40.779797,0,-73.994713,40.760674,11.703125
7,2009-10-19 08:09:02,2009-10-19 08:26:46,1,5.200000,-73.968048,40.755409,0,-74.010063,40.707729,14.898438
8,2009-06-20 17:35:00,2009-06-20 17:44:00,1,2.430000,-73.943062,40.789661,0,-73.916649,40.815636,8.101562
9,2009-10-07 08:13:51,2009-10-07 08:29:59,2,2.000000,-73.963676,40.807999,0,-73.955727,40.787914,10.101562
10,2009-10-09 18:29:00,2009-10-09 18:45:00,1,3.010000,-73.985596,40.752991,0,-73.950943,40.774666,10.898438
11,2009-10-22 19:23:00,2009-10-22 19:27:00,1,0.440000,-73.955223,40.767544,0,-73.955872,40.772015,3.699219
12,2009-03-08 02:13:59,2009-03-08 02:22:45,2,2.200000,-73.978333,40.783298,0,-73.955009,40.804836,8.203125
13,2009-09-02 13:19:00,2009-09-02 13:25:00,3,0.750000,-73.963387,40.758575,0,-73.971008,40.751102,4.898438
14,2009-03-01 01:15:00,2009-03-01 01:26:00,3,1.540000,-74.004402,40.722721,0,-74.006195,40.739758,7.300781
15,2009-09-24 15:10:25,2009-09-24 15:30:47,1,2.500000,-73.954803,40.783474,0,-73.974014,40.751339,12.101562
16,2009-01-07 03:22:41,2009-01-07 03:29:19,2,1.900000,-73.959213,40.783245,0,-73.963814,40.761982,7.800781
17,2009-08-04 12:51:00,2009-08-04 13:03:00,5,0.920000,-73.996414,40.753551,0,-74.000755,40.742325,7.699219
18,2009-03-18 09:53:33,2009-03-18 09:59:26,1,0.900000,-73.979431,40.749256,0,-73.972122,40.761917,5.300781
19,2009-12-21 12:38:22,2009-12-21 12:50:18,1,1.000000,-73.992264,40.743683,0,-73.992012,40.753822,7.699219
20,2009-09-02 11:19:00,2009-09-02 11:28:00,1,1.450000,-73.983696,40.744202,0,-73.973045,40.761642,6.898438
21,2009-04-23 19:07:00,2009-04-23 19:53:00,5,18.340000,-74.004135,40.721966,0,-73.782372,40.648788,45.000000
22,2009-10-25 13:59:51,2009-10-25 14:10:40,1,2.100000,-73.965263,40.791058,0,-73.945992,40.777950,8.500000
23,2009-08-17 07:47:00,2009-08-17 07:53:00,5,1.700000,-73.986450,40.744469,0,-73.972771,40.760448,6.500000
24,2009-02-03 06:33:36,2009-02-03 06:41:32,1,1.700000,-73.992043,40.731247,0,-73.993660,40.749947,6.898438
25,2009-02-16 00:01:00,2009-02-16 00:04:00,1,0.930000,-73.991447,40.760105,0,-74.001122,40.751358,4.500000
26,2009-11-22 15:09:00,2009-11-22 15:16:00,1,0.920000,-73.973061,40.754772,0,-73.973717,40.762871,5.699219
27,2009-04-10 12:22:00,2009-04-10 12:29:00,5,1.270000,-73.971397,40.797703,0,-73.983719,40.783943,6.101562
28,2009-04-16 07:48:41,2009-04-16 07:52:45,2,0.800000,-73.989998,40.755962,0,-73.982018,40.763496,4.500000
29,2009-02-15 13:03:00,2009-02-15 13:10:00,1,1.270000,-73.991119,40.756161,0,-73.985062,40.768532,6.101562
...,...,...,...,...,...,...,...,...,...,...
749970,2011-10-21 11:14:00,2011-10-21 11:22:00,5,1.080000,-74.000893,40.731781,1,-73.990280,40.740971,6.101562
749971,2011-11-26 14:04:00,2011-11-26 14:20:00,2,3.880000,-74.008705,40.711231,1,-73.986290,40.756168,11.703125
749972,2011-12-21 20:19:08,2011-12-21 20:25:34,2,0.900000,-73.978348,40.751755,1,-73.985062,40.745106,5.300781
749973,2011-10-05 18:31:01,2011-10-05 18:49:04,1,2.800000,-73.991898,40.743900,1,-73.962196,40.768700,11.703125
749974,2011-08-06 21:30:00,2011-08-06 21:37:00,1,1.460000,0.000000,0.000000,1,0.000000,0.000000,6.101562
749975,2011-11-06 12:01:08,2011-11-06 12:05:09,2,0.500000,-73.976501,40.751938,1,-73.974709,40.757591,4.101562
749976,2011-08-02 08:10:00,2011-08-02 08:12:00,5,0.630000,-74.000114,40.742779,1,-73.994759,40.750324,3.699219
749977,2011-01-27 12:47:00,2011-01-27 13:02:00,1,3.290000,-73.980675,40.753811,1,-74.009903,40.721062,10.500000
749978,2011-03-08 15:46:18,2011-03-08 15:54:19,1,1.900000,-73.978493,40.783062,1,-73.972153,40.765438,7.300781
749979,2011-06-22 19:38:00,2011-06-22 19:46:00,5,2.390000,-74.011169,40.715202,1,-74.004463,40.747189,8.500000
749980,2011-01-22 16:16:16,2011-01-22 16:31:46,1,4.400000,-73.978989,40.724014,1,-73.951073,40.774826,12.500000
749981,2011-07-07 08:47:00,2011-07-07 08:51:00,1,0.770000,-73.984093,40.748322,1,-73.991669,40.754913,4.500000
749982,2011-04-29 18:26:21,2011-04-29 18:53:05,1,7.900000,-73.975372,40.765213,1,-73.994682,40.703789,22.500000
749983,2011-09-17 12:40:00,2011-09-17 12:57:00,1,2.370000,-73.983177,40.722446,1,-74.009308,40.715366,10.898438
749984,2011-05-13 14:59:00,2011-05-13 15:23:00,5,4.250000,-73.980103,40.780842,1,-73.976776,40.743374,15.296875
749985,2011-07-25 14:14:00,2011-07-25 14:18:00,1,1.070000,-73.967247,40.793346,1,-73.978325,40.783165,4.898438
749986,2011-01-28 04:16:02,2011-01-28 04:28:55,1,2.700000,-73.954071,40.719280,1,-73.952850,40.685944,9.296875
749987,2011-06-18 18:26:00,2011-06-18 18:37:00,1,1.700000,-73.998322,40.740608,1,-73.979179,40.741138,7.699219
749988,2011-04-19 09:49:00,2011-04-19 10:10:00,1,4.560000,-73.962379,40.755196,1,-73.963058,40.804008,14.101562
749989,2011-07-13 16:32:00,2011-07-13 16:39:00,1,1.130000,-73.987465,40.733128,1,-74.004768,40.740704,5.699219
749990,2011-05-03 19:37:20,2011-05-03 19:49:34,2,0.600000,-73.970367,40.762516,1,-73.967812,40.755688,7.300781
749991,2011-12-12 22:12:21,2011-12-12 22:23:37,3,2.300000,-73.977928,40.786987,1,-73.946899,40.772594,8.898438
749992,2011-05-03 13:17:33,2011-05-03 13:29:54,1,2.200000,-73.992065,40.749886,1,-74.004326,40.720985,8.898438
749993,2011-10-23 14:47:32,2011-10-23 14:58:59,1,2.200000,-73.994400,40.732101,1,-73.988899,40.757702,8.500000
749994,2011-12-20 18:04:14,2011-12-20 18:10:04,4,0.400000,-73.980652,40.765099,1,-73.984901,40.758671,4.500000
749995,2011-02-19 23:23:09,2011-02-19 23:47:38,1,2.200000,-73.981766,40.746826,1,-73.987213,40.720692,13.296875
749996,2011-03-17 23:57:00,2011-03-18 00:14:00,2,3.480000,-73.953827,40.770973,1,-73.992065,40.744621,11.703125
749997,2011-11-06 01:36:00,2011-11-06 01:50:00,1,5.040000,-73.890648,40.746342,1,-73.848274,40.687077,13.703125
749998,2011-04-02 16:32:06,2011-04-02 16:46:40,1,3.400000,-73.985497,40.760269,1,-73.989441,40.726353,10.898438
749999,2011-03-31 15:54:00,2011-03-31 16:01:00,1,0.580000,-73.994392,40.728569,1,-73.997536,40.721855,4.898438

In [7]:
# Give me 250000 random sample from table tripdata_2012
sql = "SELECT * FROM tripdata_2012 ORDER BY RANDOM() LIMIT 250000;"  
df_append = pd.read_sql_query(sql, connection,index_col="Trip_ID")
df_origin=df_origin.append(df_append,ignore_index=True)
df_origin

,Pickup_DateTime,Dropoff_DateTime,Passenger_Count,Trip_Distance,Pickup_Lon,Pickup_Lat,RateCodeID,Dropoff_Lon,Dropoff_Lat,Fare_Amt
0,2009-05-04 00:45:40,2009-05-04 00:49:59,1,0.700000,-73.987068,40.756031,0,-73.977425,40.749626,4.500000
1,2009-12-18 19:11:35,2009-12-18 20:05:53,1,19.299999,-74.014847,40.711170,0,-73.776382,40.646065,45.000000
2,2009-09-10 23:43:00,2009-09-10 23:55:00,5,1.570000,-73.991966,40.725288,0,-74.009697,40.710354,8.101562
3,2009-06-15 20:59:00,2009-06-15 21:07:00,1,1.500000,-73.955482,40.779682,0,-73.979057,40.789425,6.898438
4,2009-09-16 15:30:20,2009-09-16 15:58:29,1,2.400000,-73.980927,40.770405,0,-74.006332,40.751778,7.300781
5,2009-10-12 12:16:00,2009-10-12 12:27:00,2,1.130000,-73.972542,40.752396,0,-73.972313,40.764648,7.300781
6,2009-04-19 12:33:56,2009-04-19 12:48:56,3,3.800000,-73.950409,40.779797,0,-73.994713,40.760674,11.703125
7,2009-10-19 08:09:02,2009-10-19 08:26:46,1,5.200000,-73.968048,40.755409,0,-74.010063,40.707729,14.898438
8,2009-06-20 17:35:00,2009-06-20 17:44:00,1,2.430000,-73.943062,40.789661,0,-73.916649,40.815636,8.101562
9,2009-10-07 08:13:51,2009-10-07 08:29:59,2,2.000000,-73.963676,40.807999,0,-73.955727,40.787914,10.101562
10,2009-10-09 18:29:00,2009-10-09 18:45:00,1,3.010000,-73.985596,40.752991,0,-73.950943,40.774666,10.898438
11,2009-10-22 19:23:00,2009-10-22 19:27:00,1,0.440000,-73.955223,40.767544,0,-73.955872,40.772015,3.699219
12,2009-03-08 02:13:59,2009-03-08 02:22:45,2,2.200000,-73.978333,40.783298,0,-73.955009,40.804836,8.203125
13,2009-09-02 13:19:00,2009-09-02 13:25:00,3,0.750000,-73.963387,40.758575,0,-73.971008,40.751102,4.898438
14,2009-03-01 01:15:00,2009-03-01 01:26:00,3,1.540000,-74.004402,40.722721,0,-74.006195,40.739758,7.300781
15,2009-09-24 15:10:25,2009-09-24 15:30:47,1,2.500000,-73.954803,40.783474,0,-73.974014,40.751339,12.101562
16,2009-01-07 03:22:41,2009-01-07 03:29:19,2,1.900000,-73.959213,40.783245,0,-73.963814,40.761982,7.800781
17,2009-08-04 12:51:00,2009-08-04 13:03:00,5,0.920000,-73.996414,40.753551,0,-74.000755,40.742325,7.699219
18,2009-03-18 09:53:33,2009-03-18 09:59:26,1,0.900000,-73.979431,40.749256,0,-73.972122,40.761917,5.300781
19,2009-12-21 12:38:22,2009-12-21 12:50:18,1,1.000000,-73.992264,40.743683,0,-73.992012,40.753822,7.699219
20,2009-09-02 11:19:00,2009-09-02 11:28:00,1,1.450000,-73.983696,40.744202,0,-73.973045,40.761642,6.898438
21,2009-04-23 19:07:00,2009-04-23 19:53:00,5,18.340000,-74.004135,40.721966,0,-73.782372,40.648788,45.000000
22,2009-10-25 13:59:51,2009-10-25 14:10:40,1,2.100000,-73.965263,40.791058,0,-73.945992,40.777950,8.500000
23,2009-08-17 07:47:00,2009-08-17 07:53:00,5,1.700000,-73.986450,40.744469,0,-73.972771,40.760448,6.500000
24,2009-02-03 06:33:36,2009-02-03 06:41:32,1,1.700000,-73.992043,40.731247,0,-73.993660,40.749947,6.898438
25,2009-02-16 00:01:00,2009-02-16 00:04:00,1,0.930000,-73.991447,40.760105,0,-74.001122,40.751358,4.500000
26,2009-11-22 15:09:00,2009-11-22 15:16:00,1,0.920000,-73.973061,40.754772,0,-73.973717,40.762871,5.699219
27,2009-04-10 12:22:00,2009-04-10 12:29:00,5,1.270000,-73.971397,40.797703,0,-73.983719,40.783943,6.101562
28,2009-04-16 07:48:41,2009-04-16 07:52:45,2,0.800000,-73.989998,40.755962,0,-73.982018,40.763496,4.500000
29,2009-02-15 13:03:00,2009-02-15 13:10:00,1,1.270000,-73.991119,40.756161,0,-73.985062,40.768532,6.101562
...,...,...,...,...,...,...,...,...,...,...
999970,2012-12-22 15:23:00,2012-12-22 15:27:00,1,0.480000,-73.987534,40.729313,1,-73.995575,40.732597,4.500000
999971,2012-04-25 18:21:46,2012-04-25 18:27:33,1,1.100000,-74.001274,40.731274,1,-73.990128,40.741753,5.699219
999972,2012-11-09 00:09:05,2012-11-09 00:15:13,1,1.200000,-73.973083,40.785267,1,-73.971710,40.797440,6.500000
999973,2012-08-09 00:45:00,2012-08-09 00:57:00,5,4.030000,0.000000,0.000000,1,0.000000,0.000000,11.703125
999974,2012-04-27 16:51:00,2012-04-27 17:00:00,1,0.910000,-74.005638,40.738087,1,-74.002678,40.733475,6.500000
999975,2012-09-16 13:46:00,2012-09-16 13:54:00,1,1.280000,-73.983383,40.755936,1,-73.989777,40.767899,7.000000
999976,2012-12-08 10:44:17,2012-12-08 10:47:04,1,0.500000,0.000000,0.000000,1,0.000000,0.000000,4.000000
999977,2012-02-28 07:18:00,2012-02-28 07:36:00,1,3.040000,-73.983749,40.728264,1,-73.982246,40.759735,11.296875
999978,2012-05-18 06:38:00,2012-05-18 06:53:00,1,3.630000,-73.974297,40.783398,1,-73.975540,40.745358,11.296875
999979,2012-04-13 01:21:33,2012-04-13 01:46:35,2,5.500000,-74.003670,40.743374,1,-73.941605,40.703854,17.703125
999980,2012-12-13 00:01:05,2012-12-13 00:19:11,1,0.200000,-74.001060,40.736740,5,-74.035225,40.739101,50.000000
999981,2012-03-24 02:03:25,2012-03-24 02:16:23,1,1.900000,-74.005302,40.721519,1,-73.980087,40.726864,8.898438
999982,2012-12-06 10:38:03,2012-12-06 10:54:12,1,1.900000,-73.993843,40.746510,1,-73.982300,40.730354,11.000000
999983,2012-05-02 12:49:00,2012-05-02 13:00:00,6,1.810000,-73.982361,40.727589,1,-73.976425,40.748020,8.101562
999984,2012-03-24 11:56:00,2012-03-24 12:02:00,1,1.070000,-73.999428,40.738937,1,-73.999428,40.738937,5.300781
999985,2012-01-21 02:17:29,2012-01-21 02:26:50,1,1.500000,-73.980110,40.726910,1,-73.991486,40.719402,6.898438
999986,2012-02-24 16:01:29,2012-02-24 16:52:29,1,20.299999,-73.782066,40.644772,2,-73.984413,40.759354,45.000000
999987,2012-08-08 08:41:24,2012-08-08 08:46:01,1,0.600000,-73.976624,40.756046,1,-73.974464,40.763233,4.500000
999988,2012-04-25 22:28:00,2012-04-25 22:46:00,5,4.050000,-73.991730,40.749695,1,-73.947578,40.776115,12.898438
999989,2012-07-19 21:56:00,2012-07-19 22:06:00,1,1.440000,-73.991318,40.717236,1,-73.978951,40.728104,6.898438
999990,2012-01-31 22:27:18,2012-01-31 22:34:20,1,2.500000,-73.976173,40.758053,1,-73.970215,40.786587,7.699219
999991,2012-06-20 15:26:00,2012-06-20 15:53:00,1,5.750000,-74.006462,40.709553,1,-73.989502,40.757858,18.906250
999992,2012-12-14 19:11:00,2012-12-14 19:26:00,2,2.010000,-73.963676,40.773590,1,-73.967384,40.763401,11.500000
999993,2012-11-14 01:00:45,2012-11-14 01:11:04,1,1.600000,-73.994362,40.752563,1,-73.993095,40.762688,9.000000
999994,2012-05-18 14:32:47,2012-05-18 14:37:33,1,0.800000,-73.980110,40.739265,1,-73.988190,40.727974,4.898438
999995,2012-09-12 23:47:27,2012-09-13 00:01:54,1,2.300000,-74.005241,40.740692,1,-74.003700,40.723621,11.500000
999996,2012-11-18 08:44:29,2012-11-18 09:16:12,1,20.100000,-73.789246,40.646904,2,-73.970833,40.796803,52.000000
999997,2012-03-08 21:26:27,2012-03-08 21:31:42,1,1.300000,0.000000,0.000000,1,0.000000,0.000000,5.699219
999998,2012-02-14 05:20:31,2012-02-14 05:31:05,1,6.400000,-73.942940,40.794102,1,-73.870239,40.773266,15.703125
999999,2012-04-28 14:08:15,2012-04-28 14:11:47,1,0.600000,-73.958939,40.772366,1,-73.965851,40.771194,4.101562

In [8]:
# Give me 250000 random sample from table tripdata_2013
sql = "SELECT * FROM tripdata_2013 ORDER BY RANDOM() LIMIT 250000;"  
df_append = pd.read_sql_query(sql, connection,index_col="Trip_ID")
df_origin=df_origin.append(df_append,ignore_index=True)
df_origin

,Pickup_DateTime,Dropoff_DateTime,Passenger_Count,Trip_Distance,Pickup_Lon,Pickup_Lat,RateCodeID,Dropoff_Lon,Dropoff_Lat,Fare_Amt
0,2009-05-04 00:45:40,2009-05-04 00:49:59,1,0.700000,-73.987068,40.756031,0,-73.977425,40.749626,4.500000
1,2009-12-18 19:11:35,2009-12-18 20:05:53,1,19.299999,-74.014847,40.711170,0,-73.776382,40.646065,45.000000
2,2009-09-10 23:43:00,2009-09-10 23:55:00,5,1.570000,-73.991966,40.725288,0,-74.009697,40.710354,8.101562
3,2009-06-15 20:59:00,2009-06-15 21:07:00,1,1.500000,-73.955482,40.779682,0,-73.979057,40.789425,6.898438
4,2009-09-16 15:30:20,2009-09-16 15:58:29,1,2.400000,-73.980927,40.770405,0,-74.006332,40.751778,7.300781
5,2009-10-12 12:16:00,2009-10-12 12:27:00,2,1.130000,-73.972542,40.752396,0,-73.972313,40.764648,7.300781
6,2009-04-19 12:33:56,2009-04-19 12:48:56,3,3.800000,-73.950409,40.779797,0,-73.994713,40.760674,11.703125
7,2009-10-19 08:09:02,2009-10-19 08:26:46,1,5.200000,-73.968048,40.755409,0,-74.010063,40.707729,14.898438
8,2009-06-20 17:35:00,2009-06-20 17:44:00,1,2.430000,-73.943062,40.789661,0,-73.916649,40.815636,8.101562
9,2009-10-07 08:13:51,2009-10-07 08:29:59,2,2.000000,-73.963676,40.807999,0,-73.955727,40.787914,10.101562
10,2009-10-09 18:29:00,2009-10-09 18:45:00,1,3.010000,-73.985596,40.752991,0,-73.950943,40.774666,10.898438
11,2009-10-22 19:23:00,2009-10-22 19:27:00,1,0.440000,-73.955223,40.767544,0,-73.955872,40.772015,3.699219
12,2009-03-08 02:13:59,2009-03-08 02:22:45,2,2.200000,-73.978333,40.783298,0,-73.955009,40.804836,8.203125
13,2009-09-02 13:19:00,2009-09-02 13:25:00,3,0.750000,-73.963387,40.758575,0,-73.971008,40.751102,4.898438
14,2009-03-01 01:15:00,2009-03-01 01:26:00,3,1.540000,-74.004402,40.722721,0,-74.006195,40.739758,7.300781
15,2009-09-24 15:10:25,2009-09-24 15:30:47,1,2.500000,-73.954803,40.783474,0,-73.974014,40.751339,12.101562
16,2009-01-07 03:22:41,2009-01-07 03:29:19,2,1.900000,-73.959213,40.783245,0,-73.963814,40.761982,7.800781
17,2009-08-04 12:51:00,2009-08-04 13:03:00,5,0.920000,-73.996414,40.753551,0,-74.000755,40.742325,7.699219
18,2009-03-18 09:53:33,2009-03-18 09:59:26,1,0.900000,-73.979431,40.749256,0,-73.972122,40.761917,5.300781
19,2009-12-21 12:38:22,2009-12-21 12:50:18,1,1.000000,-73.992264,40.743683,0,-73.992012,40.753822,7.699219
20,2009-09-02 11:19:00,2009-09-02 11:28:00,1,1.450000,-73.983696,40.744202,0,-73.973045,40.761642,6.898438
21,2009-04-23 19:07:00,2009-04-23 19:53:00,5,18.340000,-74.004135,40.721966,0,-73.782372,40.648788,45.000000
22,2009-10-25 13:59:51,2009-10-25 14:10:40,1,2.100000,-73.965263,40.791058,0,-73.945992,40.777950,8.500000
23,2009-08-17 07:47:00,2009-08-17 07:53:00,5,1.700000,-73.986450,40.744469,0,-73.972771,40.760448,6.500000
24,2009-02-03 06:33:36,2009-02-03 06:41:32,1,1.700000,-73.992043,40.731247,0,-73.993660,40.749947,6.898438
25,2009-02-16 00:01:00,2009-02-16 00:04:00,1,0.930000,-73.991447,40.760105,0,-74.001122,40.751358,4.500000
26,2009-11-22 15:09:00,2009-11-22 15:16:00,1,0.920000,-73.973061,40.754772,0,-73.973717,40.762871,5.699219
27,2009-04-10 12:22:00,2009-04-10 12:29:00,5,1.270000,-73.971397,40.797703,0,-73.983719,40.783943,6.101562
28,2009-04-16 07:48:41,2009-04-16 07:52:45,2,0.800000,-73.989998,40.755962,0,-73.982018,40.763496,4.500000
29,2009-02-15 13:03:00,2009-02-15 13:10:00,1,1.270000,-73.991119,40.756161,0,-73.985062,40.768532,6.101562
...,...,...,...,...,...,...,...,...,...,...
1249970,2013-01-19 19:44:00,2013-01-19 19:50:00,1,0.460000,-73.982605,40.764481,1,-73.983757,40.759853,5.500000
1249971,2013-02-18 08:59:14,2013-02-18 09:02:11,1,0.800000,-73.979988,40.754852,1,-73.990868,40.751064,4.500000
1249972,2013-12-12 12:19:01,2013-12-12 12:37:51,1,1.300000,-73.960136,40.778980,1,-73.961220,40.765480,12.000000
1249973,2013-11-11 06:20:00,2013-11-11 06:32:00,2,0.330000,-73.978447,40.777939,1,-74.008919,40.746510,12.000000
1249974,2013-12-28 20:40:36,2013-12-28 20:43:23,1,0.700000,-73.975182,40.789173,1,-73.982910,40.783482,4.500000
1249975,2013-06-18 14:23:00,2013-06-18 14:46:00,1,2.710000,-73.988647,40.748810,1,-73.979752,40.781986,15.500000
1249976,2013-12-10 15:26:00,2013-12-10 15:38:00,1,1.480000,-73.967812,40.787556,1,-73.967476,40.772247,9.500000
1249977,2013-01-29 20:55:00,2013-01-29 21:07:00,2,1.510000,-73.998657,40.751984,1,-73.983162,40.756302,9.000000
1249978,2013-07-17 18:39:00,2013-07-17 18:47:00,1,1.490000,-74.005783,40.745625,1,-73.986427,40.742710,8.000000
1249979,2013-10-11 07:42:00,2013-10-11 07:48:00,5,0.980000,-73.991295,40.746288,1,-73.990929,40.734394,6.000000
1249980,2013-06-08 12:39:02,2013-06-08 12:47:19,1,1.500000,-73.959190,40.771717,1,-73.975578,40.782013,8.000000
1249981,2013-01-12 21:56:07,2013-01-12 22:05:10,1,3.500000,-74.003929,40.742851,1,-73.977615,40.786331,11.500000
1249982,2013-06-27 13:30:54,2013-06-27 13:48:05,1,3.100000,-73.954117,40.766487,1,-73.961006,40.797569,14.000000
1249983,2013-11-14 22:29:00,2013-11-14 22:49:00,2,4.570000,-73.988403,40.723236,1,-73.985207,40.769630,17.000000
1249984,2013-03-25 16:01:14,2013-03-25 16:09:27,1,1.400000,-73.994980,40.755150,1,-73.985336,40.741989,7.500000
1249985,2013-05-30 08:00:59,2013-05-30 08:13:18,1,0.900000,-73.946579,40.772552,1,-73.955856,40.779610,9.000000
1249986,2013-03-13 23:08:52,2013-03-13 23:16:40,1,1.900000,-73.968559,40.761768,1,-73.990494,40.745140,8.500000
1249987,2013-03-19 23:23:25,2013-03-19 23:30:00,1,2.300000,-73.978409,40.778084,1,-73.969208,40.803497,8.500000
1249988,2013-08-20 18:56:41,2013-08-20 19:01:02,1,0.900000,-73.978676,40.736732,1,-73.976479,40.748096,5.500000
1249989,2013-05-27 22:39:00,2013-05-27 22:54:00,2,5.040000,-74.005585,40.740608,1,-73.950081,40.781738,16.500000
1249990,2013-07-28 11:22:16,2013-07-28 11:30:48,1,1.100000,-73.975777,40.752544,1,-73.991058,40.760239,7.000000
1249991,2013-02-16 20:29:00,2013-02-16 20:34:00,5,1.140000,-73.972565,40.786156,1,-73.982338,40.771687,5.500000
1249992,2013-10-30 13:39:55,2013-10-30 13:44:59,1,1.000000,-73.958435,40.713257,1,-73.968468,40.708420,5.500000
1249993,2013-10-13 18:26:00,2013-10-13 18:48:00,1,5.090000,-73.989151,40.758671,1,-73.952477,40.824036,20.000000
1249994,2013-11-27 01:12:00,2013-11-27 01:26:00,1,5.810000,-73.990517,40.757820,1,-73.955536,40.823196,18.500000
1249995,2013-10-23 16:14:00,2013-10-23 16:48:00,1,9.840000,-73.980888,40.753609,1,-73.865646,40.770981,33.000000
1249996,2013-05-31 06:42:12,2013-05-31 06:46:57,1,1.600000,-73.985931,40.740879,1,-73.978775,40.762028,7.000000
1249997,2013-02-14 12:02:00,2013-02-14 12:09:00,3,0.590000,-73.961014,40.769211,1,-73.954399,40.766006,6.000000
1249998,2013-11-19 15:36:12,2013-11-19 15:40:10,1,0.200000,-73.970909,40.766567,1,-73.969368,40.762543,4.500000
1249999,2013-06-21 22:41:32,2013-06-21 23:03:14,1,3.200000,-73.988350,40.741035,1,-74.004662,40.707222,15.500000

In [9]:
# Give me 250000 random sample from table tripdata_2014
sql = "SELECT * FROM tripdata_2014 ORDER BY RANDOM() LIMIT 250000;"  
df_append = pd.read_sql_query(sql, connection,index_col="Trip_ID")
df_origin=df_origin.append(df_append,ignore_index=True)
df_origin

,Pickup_DateTime,Dropoff_DateTime,Passenger_Count,Trip_Distance,Pickup_Lon,Pickup_Lat,RateCodeID,Dropoff_Lon,Dropoff_Lat,Fare_Amt
0,2009-05-04 00:45:40,2009-05-04 00:49:59,1,0.700000,-73.987068,40.756031,0,-73.977425,40.749626,4.500000
1,2009-12-18 19:11:35,2009-12-18 20:05:53,1,19.299999,-74.014847,40.711170,0,-73.776382,40.646065,45.000000
2,2009-09-10 23:43:00,2009-09-10 23:55:00,5,1.570000,-73.991966,40.725288,0,-74.009697,40.710354,8.101562
3,2009-06-15 20:59:00,2009-06-15 21:07:00,1,1.500000,-73.955482,40.779682,0,-73.979057,40.789425,6.898438
4,2009-09-16 15:30:20,2009-09-16 15:58:29,1,2.400000,-73.980927,40.770405,0,-74.006332,40.751778,7.300781
5,2009-10-12 12:16:00,2009-10-12 12:27:00,2,1.130000,-73.972542,40.752396,0,-73.972313,40.764648,7.300781
6,2009-04-19 12:33:56,2009-04-19 12:48:56,3,3.800000,-73.950409,40.779797,0,-73.994713,40.760674,11.703125
7,2009-10-19 08:09:02,2009-10-19 08:26:46,1,5.200000,-73.968048,40.755409,0,-74.010063,40.707729,14.898438
8,2009-06-20 17:35:00,2009-06-20 17:44:00,1,2.430000,-73.943062,40.789661,0,-73.916649,40.815636,8.101562
9,2009-10-07 08:13:51,2009-10-07 08:29:59,2,2.000000,-73.963676,40.807999,0,-73.955727,40.787914,10.101562
10,2009-10-09 18:29:00,2009-10-09 18:45:00,1,3.010000,-73.985596,40.752991,0,-73.950943,40.774666,10.898438
11,2009-10-22 19:23:00,2009-10-22 19:27:00,1,0.440000,-73.955223,40.767544,0,-73.955872,40.772015,3.699219
12,2009-03-08 02:13:59,2009-03-08 02:22:45,2,2.200000,-73.978333,40.783298,0,-73.955009,40.804836,8.203125
13,2009-09-02 13:19:00,2009-09-02 13:25:00,3,0.750000,-73.963387,40.758575,0,-73.971008,40.751102,4.898438
14,2009-03-01 01:15:00,2009-03-01 01:26:00,3,1.540000,-74.004402,40.722721,0,-74.006195,40.739758,7.300781
15,2009-09-24 15:10:25,2009-09-24 15:30:47,1,2.500000,-73.954803,40.783474,0,-73.974014,40.751339,12.101562
16,2009-01-07 03:22:41,2009-01-07 03:29:19,2,1.900000,-73.959213,40.783245,0,-73.963814,40.761982,7.800781
17,2009-08-04 12:51:00,2009-08-04 13:03:00,5,0.920000,-73.996414,40.753551,0,-74.000755,40.742325,7.699219
18,2009-03-18 09:53:33,2009-03-18 09:59:26,1,0.900000,-73.979431,40.749256,0,-73.972122,40.761917,5.300781
19,2009-12-21 12:38:22,2009-12-21 12:50:18,1,1.000000,-73.992264,40.743683,0,-73.992012,40.753822,7.699219
20,2009-09-02 11:19:00,2009-09-02 11:28:00,1,1.450000,-73.983696,40.744202,0,-73.973045,40.761642,6.898438
21,2009-04-23 19:07:00,2009-04-23 19:53:00,5,18.340000,-74.004135,40.721966,0,-73.782372,40.648788,45.000000
22,2009-10-25 13:59:51,2009-10-25 14:10:40,1,2.100000,-73.965263,40.791058,0,-73.945992,40.777950,8.500000
23,2009-08-17 07:47:00,2009-08-17 07:53:00,5,1.700000,-73.986450,40.744469,0,-73.972771,40.760448,6.500000
24,2009-02-03 06:33:36,2009-02-03 06:41:32,1,1.700000,-73.992043,40.731247,0,-73.993660,40.749947,6.898438
25,2009-02-16 00:01:00,2009-02-16 00:04:00,1,0.930000,-73.991447,40.760105,0,-74.001122,40.751358,4.500000
26,2009-11-22 15:09:00,2009-11-22 15:16:00,1,0.920000,-73.973061,40.754772,0,-73.973717,40.762871,5.699219
27,2009-04-10 12:22:00,2009-04-10 12:29:00,5,1.270000,-73.971397,40.797703,0,-73.983719,40.783943,6.101562
28,2009-04-16 07:48:41,2009-04-16 07:52:45,2,0.800000,-73.989998,40.755962,0,-73.982018,40.763496,4.500000
29,2009-02-15 13:03:00,2009-02-15 13:10:00,1,1.270000,-73.991119,40.756161,0,-73.985062,40.768532,6.101562
...,...,...,...,...,...,...,...,...,...,...
1499970,2014-05-11 22:33:28,2014-05-11 22:46:29,2,3.600000,-73.870819,40.773682,1,-73.929016,40.768620,13.500000
1499971,2014-10-02 13:24:50,2014-10-02 13:31:50,1,1.300000,-73.956215,40.767174,1,-73.953133,40.781971,6.500000
1499972,2014-01-17 15:11:40,2014-01-17 15:48:28,1,7.200000,-74.013222,40.705948,1,-73.965904,40.795605,28.000000
1499973,2014-04-21 18:01:04,2014-04-21 18:05:02,1,0.500000,-73.970406,40.756302,1,-73.975060,40.752544,4.500000
1499974,2014-06-18 08:48:00,2014-06-18 09:01:00,1,1.220000,0.000000,0.000000,1,0.000000,0.000000,9.500000
1499975,2014-03-29 02:29:00,2014-03-29 02:43:00,6,4.660000,-73.990852,40.745968,1,-73.960846,40.801666,16.000000
1499976,2014-03-12 17:05:00,2014-03-12 17:08:00,2,0.300000,-73.958542,40.768467,1,-73.959396,40.769073,3.500000
1499977,2014-03-14 08:54:00,2014-03-14 09:01:00,3,0.730000,-74.015594,40.715439,1,-74.009270,40.717007,6.000000
1499978,2014-08-29 02:29:00,2014-08-29 02:53:00,2,6.600000,-73.994164,40.746563,1,-73.941406,40.689526,22.500000
1499979,2014-01-10 09:34:26,2014-01-10 10:02:11,1,8.400000,-73.945694,40.711246,1,-73.834908,40.698421,28.000000
1499980,2014-10-28 12:17:12,2014-10-28 12:23:31,1,1.300000,-73.960052,40.776203,1,-73.965942,40.789909,7.000000
1499981,2014-05-14 21:02:45,2014-05-14 21:24:12,1,6.300000,-74.008385,40.734901,1,-73.957817,40.800945,22.000000
1499982,2014-11-28 12:06:00,2014-11-28 12:18:00,1,2.910000,-73.987312,40.739212,1,-73.959343,40.769318,11.500000
1499983,2014-09-04 21:32:00,2014-09-04 21:57:00,4,9.020000,0.000000,0.000000,1,0.000000,0.000000,27.000000
1499984,2014-11-13 08:16:30,2014-11-13 08:23:18,1,1.000000,-73.982864,40.744591,1,-73.993233,40.752441,6.500000
1499985,2014-01-08 15:01:17,2014-01-08 15:07:48,2,1.200000,-73.946854,40.773849,1,-73.960892,40.769997,6.500000
1499986,2014-07-03 11:14:39,2014-07-03 11:37:19,1,2.500000,-73.963509,40.763638,1,-73.999428,40.763008,15.000000
1499987,2014-10-26 19:10:00,2014-10-26 19:25:00,1,3.010000,-73.987625,40.732716,1,-73.957825,40.765251,12.500000
1499988,2014-03-25 12:35:00,2014-03-25 12:48:00,1,1.740000,-73.987045,40.776485,1,-73.961372,40.766773,10.500000
1499989,2014-08-12 11:15:00,2014-08-12 11:47:00,5,17.160000,-73.982445,40.762161,2,-73.805618,40.660801,52.000000
1499990,2014-10-15 09:05:30,2014-10-15 09:17:47,1,2.100000,-74.008240,40.730289,1,-73.997917,40.756237,10.500000
1499991,2014-04-15 09:56:00,2014-04-15 10:09:00,6,3.140000,-73.960945,40.761215,1,-73.987411,40.734219,12.500000
1499992,2014-09-11 01:30:17,2014-09-11 01:33:32,1,1.500000,-73.988312,40.763775,1,-73.999603,40.744839,6.000000
1499993,2014-07-28 13:28:06,2014-07-28 13:47:07,3,3.100000,-73.993988,40.751114,1,-73.962784,40.776623,15.000000
1499994,2014-01-05 09:15:59,2014-01-05 09:25:09,1,2.900000,-73.991661,40.764786,1,-73.958794,40.779167,10.500000
1499995,2014-01-05 01:59:00,2014-01-05 02:12:00,1,3.700000,-73.984947,40.746777,1,-73.949333,40.786201,13.500000
1499996,2014-05-19 06:42:46,2014-05-19 07:31:28,1,2.200000,-73.994621,40.750576,1,-73.979568,40.783657,11.000000
1499997,2014-01-08 18:37:17,2014-01-08 18:51:18,2,2.000000,-73.967247,40.772354,1,-73.985062,40.747803,10.500000
1499998,2014-08-14 00:23:00,2014-08-14 00:29:00,1,1.410000,-73.993469,40.721401,1,-73.983582,40.739151,7.000000
1499999,2014-11-17 14:13:00,2014-11-17 14:29:00,6,2.320000,-73.998665,40.734966,1,-73.991745,40.715065,12.000000

In [10]:
# Give me 250000 random sample from table tripdata_2015
sql = "SELECT * FROM tripdata_2015 ORDER BY RANDOM() LIMIT 250000;"  
df_append = pd.read_sql_query(sql, connection,index_col="Trip_ID")
df_origin=df_origin.append(df_append,ignore_index=True)
df_origin

,Pickup_DateTime,Dropoff_DateTime,Passenger_Count,Trip_Distance,Pickup_Lon,Pickup_Lat,RateCodeID,Dropoff_Lon,Dropoff_Lat,Fare_Amt
0,2009-05-04 00:45:40,2009-05-04 00:49:59,1,0.700000,-73.987068,40.756031,0,-73.977425,40.749626,4.500000
1,2009-12-18 19:11:35,2009-12-18 20:05:53,1,19.299999,-74.014847,40.711170,0,-73.776382,40.646065,45.000000
2,2009-09-10 23:43:00,2009-09-10 23:55:00,5,1.570000,-73.991966,40.725288,0,-74.009697,40.710354,8.101562
3,2009-06-15 20:59:00,2009-06-15 21:07:00,1,1.500000,-73.955482,40.779682,0,-73.979057,40.789425,6.898438
4,2009-09-16 15:30:20,2009-09-16 15:58:29,1,2.400000,-73.980927,40.770405,0,-74.006332,40.751778,7.300781
5,2009-10-12 12:16:00,2009-10-12 12:27:00,2,1.130000,-73.972542,40.752396,0,-73.972313,40.764648,7.300781
6,2009-04-19 12:33:56,2009-04-19 12:48:56,3,3.800000,-73.950409,40.779797,0,-73.994713,40.760674,11.703125
7,2009-10-19 08:09:02,2009-10-19 08:26:46,1,5.200000,-73.968048,40.755409,0,-74.010063,40.707729,14.898438
8,2009-06-20 17:35:00,2009-06-20 17:44:00,1,2.430000,-73.943062,40.789661,0,-73.916649,40.815636,8.101562
9,2009-10-07 08:13:51,2009-10-07 08:29:59,2,2.000000,-73.963676,40.807999,0,-73.955727,40.787914,10.101562
10,2009-10-09 18:29:00,2009-10-09 18:45:00,1,3.010000,-73.985596,40.752991,0,-73.950943,40.774666,10.898438
11,2009-10-22 19:23:00,2009-10-22 19:27:00,1,0.440000,-73.955223,40.767544,0,-73.955872,40.772015,3.699219
12,2009-03-08 02:13:59,2009-03-08 02:22:45,2,2.200000,-73.978333,40.783298,0,-73.955009,40.804836,8.203125
13,2009-09-02 13:19:00,2009-09-02 13:25:00,3,0.750000,-73.963387,40.758575,0,-73.971008,40.751102,4.898438
14,2009-03-01 01:15:00,2009-03-01 01:26:00,3,1.540000,-74.004402,40.722721,0,-74.006195,40.739758,7.300781
15,2009-09-24 15:10:25,2009-09-24 15:30:47,1,2.500000,-73.954803,40.783474,0,-73.974014,40.751339,12.101562
16,2009-01-07 03:22:41,2009-01-07 03:29:19,2,1.900000,-73.959213,40.783245,0,-73.963814,40.761982,7.800781
17,2009-08-04 12:51:00,2009-08-04 13:03:00,5,0.920000,-73.996414,40.753551,0,-74.000755,40.742325,7.699219
18,2009-03-18 09:53:33,2009-03-18 09:59:26,1,0.900000,-73.979431,40.749256,0,-73.972122,40.761917,5.300781
19,2009-12-21 12:38:22,2009-12-21 12:50:18,1,1.000000,-73.992264,40.743683,0,-73.992012,40.753822,7.699219
20,2009-09-02 11:19:00,2009-09-02 11:28:00,1,1.450000,-73.983696,40.744202,0,-73.973045,40.761642,6.898438
21,2009-04-23 19:07:00,2009-04-23 19:53:00,5,18.340000,-74.004135,40.721966,0,-73.782372,40.648788,45.000000
22,2009-10-25 13:59:51,2009-10-25 14:10:40,1,2.100000,-73.965263,40.791058,0,-73.945992,40.777950,8.500000
23,2009-08-17 07:47:00,2009-08-17 07:53:00,5,1.700000,-73.986450,40.744469,0,-73.972771,40.760448,6.500000
24,2009-02-03 06:33:36,2009-02-03 06:41:32,1,1.700000,-73.992043,40.731247,0,-73.993660,40.749947,6.898438
25,2009-02-16 00:01:00,2009-02-16 00:04:00,1,0.930000,-73.991447,40.760105,0,-74.001122,40.751358,4.500000
26,2009-11-22 15:09:00,2009-11-22 15:16:00,1,0.920000,-73.973061,40.754772,0,-73.973717,40.762871,5.699219
27,2009-04-10 12:22:00,2009-04-10 12:29:00,5,1.270000,-73.971397,40.797703,0,-73.983719,40.783943,6.101562
28,2009-04-16 07:48:41,2009-04-16 07:52:45,2,0.800000,-73.989998,40.755962,0,-73.982018,40.763496,4.500000
29,2009-02-15 13:03:00,2009-02-15 13:10:00,1,1.270000,-73.991119,40.756161,0,-73.985062,40.768532,6.101562
...,...,...,...,...,...,...,...,...,...,...
1749970,2015-03-30 08:07:33,2015-03-30 08:15:39,1,1.100000,-73.995590,40.759552,1,-73.979637,40.758297,7.000000
1749971,2015-01-31 11:10:13,2015-01-31 11:26:07,1,3.090000,-73.984894,40.758518,1,-73.998169,40.721268,13.000000
1749972,2015-07-08 15:59:30,2015-07-08 16:29:42,1,3.930000,-73.955330,40.782818,1,-73.991058,40.733414,20.500000
1749973,2015-08-13 19:09:00,2015-08-13 19:13:34,1,0.700000,-73.974739,40.759521,1,-73.967903,40.768349,5.000000
1749974,2015-02-21 13:08:03,2015-02-21 13:14:51,1,1.200000,-73.977829,40.755966,1,-73.989250,40.742058,6.500000
1749975,2015-12-30 10:37:56,2015-12-30 10:56:08,2,5.340000,-74.009590,40.702011,1,-73.975433,40.755039,20.000000
1749976,2015-11-18 21:43:46,2015-11-18 21:51:47,1,1.670000,-74.013680,40.713181,1,-74.004723,40.732742,8.000000
1749977,2015-09-19 23:43:49,2015-09-19 23:52:43,1,1.050000,-74.008163,40.731270,1,-73.991959,40.725632,7.500000
1749978,2015-09-01 15:55:29,2015-09-01 16:14:42,2,1.600000,-73.979385,40.771706,1,-73.974625,40.755070,12.500000
1749979,2015-10-16 19:23:33,2015-10-16 19:36:29,1,1.610000,-74.004082,40.713161,1,-73.987572,40.719898,10.000000
1749980,2015-12-20 15:54:46,2015-12-20 16:09:15,1,2.200000,-73.982841,40.742081,1,-73.962914,40.766735,11.500000
1749981,2015-11-16 05:31:42,2015-11-16 05:56:16,1,10.380000,-73.978302,40.788311,1,-73.864212,40.769939,31.000000
1749982,2015-10-27 09:37:54,2015-10-27 09:48:42,1,1.800000,-73.975502,40.760868,1,-73.990135,40.737473,9.500000
1749983,2015-09-16 18:57:45,2015-09-16 19:20:05,1,2.240000,-74.009712,40.712502,1,-73.994133,40.734440,14.500000
1749984,2015-10-28 07:09:16,2015-10-28 07:25:05,5,3.850000,-74.007523,40.715530,1,-73.974091,40.760139,14.000000
1749985,2015-02-10 08:28:48,2015-02-10 08:39:02,1,1.430000,-73.975929,40.740589,1,-73.984367,40.753738,8.500000
1749986,2015-07-08 16:52:03,2015-07-08 16:58:47,2,1.470000,-73.939743,40.794312,1,-73.954643,40.777950,6.500000
1749987,2015-08-05 18:39:36,2015-08-05 19:21:52,1,15.540000,-73.787956,40.641491,1,-73.946854,40.606255,44.500000
1749988,2015-01-23 18:15:13,2015-01-23 18:30:20,1,3.120000,-74.003227,40.708134,1,-73.987282,40.727726,13.000000
1749989,2015-04-20 22:15:56,2015-04-20 22:28:33,5,3.840000,-73.966003,40.795040,1,-73.998863,40.754471,13.500000
1749990,2015-10-21 17:17:29,2015-10-21 17:27:31,1,0.700000,-73.975250,40.758633,1,-73.984421,40.759853,7.500000
1749991,2015-03-03 08:51:58,2015-03-03 09:01:55,5,1.520000,-73.977112,40.764797,1,-73.976852,40.780827,8.500000
1749992,2015-08-15 14:45:29,2015-08-15 15:14:32,1,5.620000,-74.014015,40.712479,1,-73.972977,40.764286,24.000000
1749993,2015-06-05 18:06:33,2015-06-05 18:23:32,1,2.330000,-73.979660,40.781239,1,-73.953537,40.785145,13.000000
1749994,2015-10-18 19:05:25,2015-10-18 19:19:06,3,1.090000,-73.986931,40.762550,1,-73.971291,40.762730,9.500000
1749995,2015-10-16 14:25:58,2015-10-16 14:38:40,3,1.870000,-73.970726,40.760464,1,-73.955894,40.783897,10.000000
1749996,2015-04-20 07:59:46,2015-04-20 08:03:05,6,0.800000,-73.966904,40.769821,1,-73.978203,40.772129,5.000000
1749997,2015-08-28 20:15:13,2015-08-28 20:23:09,1,1.800000,-73.981178,40.751923,1,-73.961090,40.768135,8.500000
1749998,2015-05-14 19:07:48,2015-05-14 19:14:55,1,1.700000,-73.977837,40.783955,1,-73.959457,40.799622,7.500000
1749999,2015-04-28 16:37:59,2015-04-28 17:07:30,1,4.360000,-73.918205,40.687218,1,-73.960297,40.657394,20.500000

In [11]:
# Give me 250000 random sample from table tripdata_2016
sql = "SELECT * FROM tripdata_2016 ORDER BY RANDOM() LIMIT 250000;"  
df_append = pd.read_sql_query(sql, connection,index_col="Trip_ID")
df_origin=df_origin.append(df_append,ignore_index=True)
df_origin

,Pickup_DateTime,Dropoff_DateTime,Passenger_Count,Trip_Distance,Pickup_Lon,Pickup_Lat,RateCodeID,Dropoff_Lon,Dropoff_Lat,Fare_Amt
0,2009-05-04 00:45:40,2009-05-04 00:49:59,1,0.700000,-73.987068,40.756031,0,-73.977425,40.749626,4.500000
1,2009-12-18 19:11:35,2009-12-18 20:05:53,1,19.299999,-74.014847,40.711170,0,-73.776382,40.646065,45.000000
2,2009-09-10 23:43:00,2009-09-10 23:55:00,5,1.570000,-73.991966,40.725288,0,-74.009697,40.710354,8.101562
3,2009-06-15 20:59:00,2009-06-15 21:07:00,1,1.500000,-73.955482,40.779682,0,-73.979057,40.789425,6.898438
4,2009-09-16 15:30:20,2009-09-16 15:58:29,1,2.400000,-73.980927,40.770405,0,-74.006332,40.751778,7.300781
5,2009-10-12 12:16:00,2009-10-12 12:27:00,2,1.130000,-73.972542,40.752396,0,-73.972313,40.764648,7.300781
6,2009-04-19 12:33:56,2009-04-19 12:48:56,3,3.800000,-73.950409,40.779797,0,-73.994713,40.760674,11.703125
7,2009-10-19 08:09:02,2009-10-19 08:26:46,1,5.200000,-73.968048,40.755409,0,-74.010063,40.707729,14.898438
8,2009-06-20 17:35:00,2009-06-20 17:44:00,1,2.430000,-73.943062,40.789661,0,-73.916649,40.815636,8.101562
9,2009-10-07 08:13:51,2009-10-07 08:29:59,2,2.000000,-73.963676,40.807999,0,-73.955727,40.787914,10.101562
10,2009-10-09 18:29:00,2009-10-09 18:45:00,1,3.010000,-73.985596,40.752991,0,-73.950943,40.774666,10.898438
11,2009-10-22 19:23:00,2009-10-22 19:27:00,1,0.440000,-73.955223,40.767544,0,-73.955872,40.772015,3.699219
12,2009-03-08 02:13:59,2009-03-08 02:22:45,2,2.200000,-73.978333,40.783298,0,-73.955009,40.804836,8.203125
13,2009-09-02 13:19:00,2009-09-02 13:25:00,3,0.750000,-73.963387,40.758575,0,-73.971008,40.751102,4.898438
14,2009-03-01 01:15:00,2009-03-01 01:26:00,3,1.540000,-74.004402,40.722721,0,-74.006195,40.739758,7.300781
15,2009-09-24 15:10:25,2009-09-24 15:30:47,1,2.500000,-73.954803,40.783474,0,-73.974014,40.751339,12.101562
16,2009-01-07 03:22:41,2009-01-07 03:29:19,2,1.900000,-73.959213,40.783245,0,-73.963814,40.761982,7.800781
17,2009-08-04 12:51:00,2009-08-04 13:03:00,5,0.920000,-73.996414,40.753551,0,-74.000755,40.742325,7.699219
18,2009-03-18 09:53:33,2009-03-18 09:59:26,1,0.900000,-73.979431,40.749256,0,-73.972122,40.761917,5.300781
19,2009-12-21 12:38:22,2009-12-21 12:50:18,1,1.000000,-73.992264,40.743683,0,-73.992012,40.753822,7.699219
20,2009-09-02 11:19:00,2009-09-02 11:28:00,1,1.450000,-73.983696,40.744202,0,-73.973045,40.761642,6.898438
21,2009-04-23 19:07:00,2009-04-23 19:53:00,5,18.340000,-74.004135,40.721966,0,-73.782372,40.648788,45.000000
22,2009-10-25 13:59:51,2009-10-25 14:10:40,1,2.100000,-73.965263,40.791058,0,-73.945992,40.777950,8.500000
23,2009-08-17 07:47:00,2009-08-17 07:53:00,5,1.700000,-73.986450,40.744469,0,-73.972771,40.760448,6.500000
24,2009-02-03 06:33:36,2009-02-03 06:41:32,1,1.700000,-73.992043,40.731247,0,-73.993660,40.749947,6.898438
25,2009-02-16 00:01:00,2009-02-16 00:04:00,1,0.930000,-73.991447,40.760105,0,-74.001122,40.751358,4.500000
26,2009-11-22 15:09:00,2009-11-22 15:16:00,1,0.920000,-73.973061,40.754772,0,-73.973717,40.762871,5.699219
27,2009-04-10 12:22:00,2009-04-10 12:29:00,5,1.270000,-73.971397,40.797703,0,-73.983719,40.783943,6.101562
28,2009-04-16 07:48:41,2009-04-16 07:52:45,2,0.800000,-73.989998,40.755962,0,-73.982018,40.763496,4.500000
29,2009-02-15 13:03:00,2009-02-15 13:10:00,1,1.270000,-73.991119,40.756161,0,-73.985062,40.768532,6.101562
...,...,...,...,...,...,...,...,...,...,...
1999970,2016-04-26 14:21:08,2016-04-27 14:06:42,6,0.480000,-73.982651,40.767658,1,-73.982193,40.773720,4.500000
1999971,2016-04-14 23:09:16,2016-04-14 23:17:42,1,1.100000,-73.988869,40.718872,1,-73.992798,40.730209,7.000000
1999972,2016-02-27 22:53:30,2016-02-27 23:18:12,1,1.090000,-73.977791,40.754608,1,-73.991470,40.749779,15.000000
1999973,2016-05-12 09:23:16,2016-05-12 09:29:56,1,0.700000,-73.996002,40.738682,1,-73.987862,40.735542,6.000000
1999974,2016-01-06 06:55:55,2016-01-06 07:10:13,1,2.800000,-73.988609,40.748398,1,-73.956032,40.766182,12.000000
1999975,2016-05-13 21:05:11,2016-05-13 21:27:58,1,5.500000,-74.008293,40.736290,1,-74.015404,40.675270,19.000000
1999976,2016-03-27 20:01:42,2016-03-27 20:01:42,1,0.000000,-74.002640,40.744759,1,0.000000,0.000000,9.000000
1999977,2016-01-14 19:37:12,2016-01-14 19:46:21,5,0.960000,-73.988892,40.723438,1,-74.002350,40.729500,7.500000
1999978,2016-05-05 19:11:20,2016-05-05 19:19:55,1,1.600000,-73.979591,40.771473,1,-73.968727,40.790829,8.000000
1999979,2016-02-10 13:32:30,2016-02-10 13:49:05,6,1.500000,-73.961739,40.764256,1,-73.980095,40.755245,11.500000
1999980,2016-05-30 01:10:43,2016-05-30 01:31:18,5,4.440000,-73.987022,40.729141,1,-73.957161,40.728500,16.000000
1999981,2016-04-19 15:13:43,2016-04-19 15:20:15,1,0.900000,-73.948303,40.783047,1,-73.950134,40.771706,6.500000
1999982,2016-01-13 23:23:57,2016-01-13 23:37:36,1,4.860000,-73.987709,40.775635,1,-74.015541,40.709976,16.000000
1999983,2016-04-17 02:35:35,2016-04-17 02:45:34,5,2.320000,-73.993950,40.751400,1,-73.965446,40.760521,9.500000
1999984,2016-03-24 11:29:21,2016-03-24 11:46:42,1,1.640000,-74.000656,40.732216,1,-73.982933,40.746250,11.500000
1999985,2016-03-17 19:34:24,2016-03-17 19:49:57,1,4.900000,-73.919960,40.746841,1,-73.870872,40.774132,17.500000
1999986,2016-05-24 06:17:52,2016-05-24 06:20:07,1,0.500000,-73.993118,40.757389,1,-73.998062,40.750828,4.000000
1999987,2016-05-19 00:34:37,2016-05-19 00:49:34,2,5.310000,-73.975037,40.750648,1,-73.963943,40.709499,18.000000
1999988,2016-05-28 19:01:41,2016-05-28 19:23:29,1,7.370000,-73.776688,40.645370,1,-73.880486,40.668358,23.500000
1999989,2016-05-07 01:34:31,2016-05-07 01:40:30,2,0.600000,-73.993340,40.729568,1,-73.991196,40.723701,6.000000
1999990,2016-04-09 23:53:40,2016-04-10 00:22:12,1,13.760000,-73.991920,40.726189,1,-73.836464,40.721554,41.000000
1999991,2016-03-03 02:33:16,2016-03-03 02:47:29,1,4.650000,-73.981316,40.757305,1,-74.017143,40.705479,15.500000
1999992,2016-01-21 09:48:45,2016-01-21 10:00:05,5,0.930000,-73.990242,40.756329,1,-73.976387,40.751663,8.000000
1999993,2016-03-14 20:11:10,2016-03-14 20:20:19,2,1.360000,-73.979073,40.760025,1,-73.963814,40.764431,7.500000
1999994,2016-03-07 18:45:25,2016-03-07 18:54:56,1,1.200000,-73.982201,40.776470,1,-73.980377,40.761688,7.500000
1999995,2016-06-08 17:45:20,2016-06-08 17:51:48,1,0.640000,-73.978836,40.740807,1,-73.984871,40.732513,6.000000
1999996,2016-05-23 08:10:40,2016-05-23 09:09:40,2,12.650000,-73.863388,40.770081,1,-73.981590,40.758789,45.000000
1999997,2016-06-19 02:29:02,2016-06-19 02:44:45,1,3.700000,-74.006386,40.738209,1,-73.966019,40.770905,14.000000
1999998,2016-06-15 07:29:55,2016-06-15 07:35:13,6,0.950000,-73.992340,40.745350,1,-73.993263,40.739120,5.500000
1999999,2016-05-06 02:03:31,2016-05-06 02:10:45,1,0.700000,-74.005966,40.739918,1,-74.001167,40.734547,6.000000

In [12]:
#Convert the dtypes of each Column for Exploration
df_origin= df_origin.astype(dtypes)

In [13]:
df_origin.dtypes

Pickup_DateTime     datetime64[ns]
Dropoff_DateTime    datetime64[ns]
Passenger_Count              uint8
Trip_Distance              float16
Pickup_Lon                 float32
Pickup_Lat                 float32
RateCodeID                   uint8
Dropoff_Lon                float32
Dropoff_Lat                float32
Fare_Amt                   float16
dtype: object

In [14]:
df_origin.describe()

,Passenger_Count,Trip_Distance,Pickup_Lon,Pickup_Lat,RateCodeID,Dropoff_Lon,Dropoff_Lat,Fare_Amt
count,2.000000e+06,2.000000e+06,2.000000e+06,2.000000e+06,2.000000e+06,1.999988e+06,1.999988e+06,2.000000e+06
mean,1.680213e+00,NaN,-7.259229e+01,3.997297e+01,9.086285e-01,-7.260003e+01,3.997572e+01,NaN
std,1.332114e+00,NaN,1.148459e+01,8.268709e+00,6.849591e-01,1.166386e+01,8.923161e+00,NaN
min,0.000000e+00,0.000000e+00,-3.356731e+03,-3.432144e+03,0.000000e+00,-2.928909e+03,-3.485255e+03,-2.900000e+02
25%,1.000000e+00,1.000000e+00,-7.399200e+01,4.073510e+01,1.000000e+00,-7.399135e+01,4.073410e+01,6.101562e+00
50%,1.000000e+00,1.740234e+00,-7.398174e+01,4.075274e+01,1.000000e+00,-7.398003e+01,4.075327e+01,8.500000e+00
75%,2.000000e+00,3.160156e+00,-7.396694e+01,4.076726e+01,1.000000e+00,-7.396337e+01,4.076830e+01,1.300000e+01
max,2.080000e+02,inf,2.478932e+03,3.210374e+03,2.100000e+02,3.425440e+03,3.287121e+03,inf

In [15]:
# Convert to parquet for quick reloading
# Set Path for Parquet Files
path="F:/1_Bachelorarbeit/1_Daten/1_Yellow_Cab_Trips_2009-June_2016/Dataset_for_Exploration"
df_origin.to_parquet(os.path.join(path, "Exploration_Data" + "." + "parquet"),engine="fastparquet")